.searchForm {
    transition: .3s all;
    -webkit-box-shadow: 0px 9px 17px -4px rgba(0,0,0,0.7);
        -moz-box-shadow: 0px 9px 17px -4px rgba(0,0,0,0.7);
        box-shadow: 0px 9px 17px -4px rgba(0,0,0,0.7);
    height: 13.5rem;
    
    // padding-bottom: 1rem;
    div{
        height: 3rem;
        font-size: .8rem;
        color: black;
    }

    md-select{
        // -webkit-box-shadow: 0px 9px 17px -4px rgba(0,0,0,0.7);
        // -moz-box-shadow: 0px 9px 17px -4px rgba(0,0,0,0.7);
        // box-shadow: 0px 9px 17px -4px rgba(0,0,0,0.7);
    }

    input{
        transition: .3s all;
    // -webkit-box-shadow: 0px 9px 17px -4px rgba(0,0,0,0.7);
    // -moz-box-shadow: 0px 9px 17px -4px rgba(0,0,0,0.7);
    // box-shadow: 0px 9px 17px -4px rgba(0,0,0,0.7);
        height: 2.5rem;
        color: black;
    }

    label{
        
    }
}

.filterButton{
    transition: .3s all;
    padding-top: .5rem;
    padding-left: .5rem;
    clear: both;
    border: none;
    border-radius: 50%;
    background-color: transparent;

}

.results{
    // margin-top: .5rem;
    // border-top: 1px solid black;
}

.rotate{
    transform: rotate(180deg)
}

.tableHeaders{
    font-weight: bold;
    font-size: .8rem;
    &--filterButton{
        transition: .3s all;
    }
}



