
<div class="gameBlock" layout="row">
        <div flex="15">
            <a ui-sref="displayGame({ gameId: game._id, groupId: game.group })">
                <img class="gameBlock--image" src="../../assets/img/platforms/{{game.platformType}}.png" alt="">
            </a>
        </div>
        <div flex="45" class="gameBlock__details">
            <a ui-sref="displayGame({ gameId: game._id, groupId: game.group })">
                <h4>{{game.name}}</h4>
                <div class="gameBlock__details--numMembers">
                    {{game.players.length}} players
                </div>
            </a>
        </div>
        <div flex="20" class="gameBlock--date">
            <a ui-sref="displayGame({ gameId: game._id, groupId: game.group })">
               {{game.time | date:'dd-MM-yy H:mm'}}
            </a>
        </div>
        </a>
        <div flex="20" class="d-flex">
            <md-icon md-svg-src="assets/img/icons/edit.svg" class="actionButton" ui-sref="editGame({ gameId: game._id })" 
                ng-if="vm.isUser"></md-icon>
            <md-icon md-svg-src="assets/img/icons/remove.svg" class="actionButton red" ng-click="vm.removeGame($index, game._id)" 
                ng-if="vm.isUser"></md-icon>
            
        </div>
    </div>