<div class="messageRow">
    <div class="row messageRow__main" 
        ng-class="message.status == 'unread' ? 'unread' : read"
        ng-click="vm.messageClicked($event, message, 'inbox')">
        <div class="col-xs-3 messageRow--coloumn">
            <!-- <a ui-sref="displayUser({ userId: message.sender.userId })"> -->
                <div class="">
                    {{message.sender.userName}}
                </div>
                <div class="messageRow__main--small" ng-if="message.links.groupName">({{message.links.groupName}})</div>


            <!-- </a> -->
        </div>
        <!-- <div class="col-xs-6" >
            <a ui-sref="displayGroup({ groupId: message.links[0].linkId })" ng-if="message.messageType=='groupInvite'">
                <div class="messageSubject">
                    {{message.subject}}
                </div>

            </a>
        </div> -->
        <!-- <div class="col-xs-6" ng-if="message.messageType=='friendRequest' || message.messageType=='privateChatMessage'">
        
                <div class="messageSubject">
                    {{message.subject}}
                </div>

        </div> -->
        <div class="col-xs-6 messageRow--coloumn">
            {{message.subject}}
        </div>
        <div class="col-xs-3 messageRow__main--small">
            {{message.sentdAt | date:'dd-MM-yy H:mm'}}
        </div>
    </div>
    <div class="messageRow__content full-width hidden" ng-if="message.content">
        <div class="messageRow__content--text">
            {{message.content}}
        </div>
        <div class="messageRow__content--actions d-flex arround" ng-if="message.messageType =='gameInvite'"> 
            <button class="customButton bg-green white" ng-click="linkTo()">View game</button>
            <button class="customButton bg-red white">No thanks</button>
        </div>
    </div>

</div>