<page-menu-tabs-directive></page-menu-tabs-directive>

<div class="userContentArea">
	<div ng-class="vm.activeTab == 'info'? 'block' : 'hidden' " >
		<div class="container-fluid tournament form">
			<form
				ng-submit="vm.submitTournamentForm(vm.tournament, vm.tournament._id)"
				name="vm.tournamentForm"
				class="tournamentForm"
				role="form"
				id="tournamentForm"
				novalidate
			>
			
				<div ng-if="vm.actionType != 'createTournament'" class="row hidden">
					<label for="tournament-id" class="col-md-5">ID</label>
					<div class="col-md-5">
						<input
							type="text"
							ng-model="vm.tournament._id"
							ng-disabled="'always'"
							name="tournament-id"
							id="tournament-id"
							autocomplete="off"
							placeholder="tournament ID"
						>
					</div>
				</div>
				<div layout="row" >
					<div flex="50">
						<a ui-sref="displayGroup({groupId: vm.group._id})" ng-if="vm.group">

							<h4 class="tournamentPrizePool">{{vm.group.groupName}}</h4>
						</a>
						<br>
						<md-input-container>
							<label>Tournament name</label>
							<input type="text" ng-model="vm.tournament.name" ng-disabled="vm.actionType == 'displayTournament'">
						</md-input-container>
						
						<md-input-container>
							<label>Manager</label>
							<input type="text" ng-model="vm.tournament.manager" ng-disabled="vm.actionType == 'displayTournament'">
						</md-input-container>
						
						
						<md-input-container class="mt-1" ng-if="vm.actionType !== 'displayTournament'">
							<label>Select manager</label>
							<md-select ng-model="vm.tournament.manager"
										aria-placeholder="vm.tournament.manager"
										md-on-close="vm.clearSearchTerm()"
										data-md-container-class="selectdemoSelectHeader"
										ng-disabled="vm.actionType == 'displayTournament'"
										>
								<md-select-header class="demo-select-header">
								<input ng-model="vm.searchTerm"
										type="search"
										placeholder="Search for a user.."
										class="demo-header-searchbox md-text">
								</md-select-header>
								<md-opttournament label="Manager">
								<md-option ng-value="user.userName" ng-repeat="user in vm.optionalPlayers | filter:searchTerm"
									ng-click="vm.selectManager(user)">{{user.userName}}
								</md-option>
								</md-opttournament>
							</md-select>
						</md-input-container>

						<md-input-container ng-if="vm.actionType == 'displayTournament'">
							<label>Visibile to: </label>
							<input type="text" ng-model="vm.tournament.privacy" ng-disabled="vm.actionType == 'displayTournament'">
						</md-input-container>

						<md-input-container class="" ng-if="vm.actionType !== 'displayTournament'">
						
							<label>Visibile to:</label>
							<md-select ng-model="vm.tournament.privacy"
									
									data-md-container-class="selectdemoSelectHeader"
									ng-disabled="vm.actionType == 'displayTournament'"
									>
								<!-- <md-select-header class="demo-select-header">
								
								</md-select-header> -->
								<md-optgroup label="options">
								<md-option ng-value="option" ng-repeat="option in vm.privacyOptions">{{option}}
								</md-option>
								</md-optgroup>
							</md-select>
						</md-input-container>
						
						<md-input-container ng-if="vm.actionType == 'displayTournament'">
							<label>Platform</label>
							<input type="text" ng-model="vm.tournament.platform" ng-disabled="vm.actionType == 'displayTournament'">
						</md-input-container>
						<md-input-container class="" ng-if="vm.actionType !== 'displayTournament'">
								
							<label>Platfroms</label>
							<md-select ng-model="vm.tournament.platform"
									md-on-close="vm.clearSearchTerm()"
									data-md-container-class="selectdemoSelectHeader"
									ng-disabled="vm.actionType == 'displayTournament'"
									>
								<md-select-header class="demo-select-header">
								<input ng-model="vm.searchTerm"
										type="search"
										placeholder="Search for a platform..."
										class="demo-header-searchbox md-text">
								</md-select-header>
								<md-optgroup label="platforms">
								<md-option ng-value="type.name" ng-repeat="type in vm.platforms | filter:searchTerm"
									ng-click="vm.selectPlatformType(type.name)">{{type.name}}
								</md-option>
								</md-optgroup>
							</md-select>
						</md-input-container>
						<md-input-container>
							<label>Max players</label>
							<input type="text" ng-model="vm.tournament.maxPlayers" ng-disabled="vm.actionType == 'displayTournament'">
						</md-input-container>
						<md-input-container>
							<label>Player Per Battle</label>
							<input type="text" ng-model="vm.tournament.playerPerBattle" ng-disabled="vm.actionType == 'displayTournament'">
						</md-input-container>
						<md-input-container>
							<label>Entree Fee</label>
							<input type="number" 
									ng-model="vm.tournament.buyIn" 
										
									ng-disabled="vm.actionType == 'displayTournament'"
									ng-change="vm.calculatePrizePool()">
						</md-input-container>
						
					</div>
					<div flex="50">
						<div class="d-flex between">
							<span class="tournamentPrizePool">Prize pool: {{vm.tournament.prizePool}}</span>
							<md-icon md-svg-src="assets/img/icons/edit.svg" 
								class="actionButton m-0 orange" 
								ui-sref="editTournament({ tournamentId: vm.tournament._id })" 
								ng-if="vm.tournament.manager == vm.currentUser.userName && vm.actionType == 'displayTournament'">
							</md-icon>
						</div>
						
						<br>
						<md-input-container flex-gt-md="30">
							<!-- <label>Game Time</label> -->
							<!-- <input type="datetime-local" id="gameTime" ng-model="vm.game.time"
									name="gameTime" 
									min="{{vm.today}}" max="2025-06-14T00:00"> -->
							<input mdc-datetime-picker date="true" time="true" type="text" id="time" short-time="true"
									show-todays-date click-outside-to-close="true"
									placeholder="tournament time" auto-ok="true"
									min-date="minDate" minute-steps="1"
									format="D-M-Y H:mm"
									ng-change="vm.saveChange()"
									ng-model="vm.tournament.time"
									ng-disabled="vm.actionType == 'displayTournament'">
									
						</md-input-container>

						<md-input-container class="d-flex">
							<label>Places paid</label>
							<input type="number" 
								ng-model="vm.tournament.placesPaid" 
								ng-disabled="vm.actionType == 'displayTournament'" 
								ng-change="vm.initializeWinners(vm.tournament.placesPaid)">
						</md-input-container>
						<div class="row positionRow" ng-repeat="position in vm.tournament.winners">
							<div class="col-xs-1 ">
								<strong>{{$index + 1}}</strong>
							</div>
							<div class="col-xs-4 d-flex">
								<span ng-if="vm.actionType == 'displayTournament'" >{{position.percentage}}</span>
								<input type="number" class=" positionRow--input" 
										ng-model="position.percentage"
										ng-if="vm.actionType !== 'displayTournament'" 
										ng-change="vm.calculatePrize(position.percentage, $index)">
									<span>%</span> 
							</div>
							<div class="col-xs-3">{{position.userName}}</div>
							<div class="col-xs-2">{{position.prize}}</div>
						</div>
						<br>
						<div class="">Registered ({{vm.tournament.registered.length}})</div>
						<div class="tournamentForm__registered" >
							<div layout="row" ng-repeat="player in vm.tournament.registered">
								<div flex="75">
									<img class="tournamentForm__registered--profileImg" src="https://randomuser.me/api/portraits/men/{{$index}}.jpg" alt="">
									<a ui-sref="displayUser({ userId: player.userId })">
										{{player.userName}}
									</a>
										
								</div>
								<div flex="25">
									<md-icon md-svg-src="assets/img/icons/remove.svg" 
										class="tournamentActionButton" 
										ng-click="vm.removePlayer($index, player)"
										ng-if="vm.actionType == 'editTournament'"
										aria-label="remove from tournament">
									</md-icon>
									
								</div>
							</div>
							
						</div>
						<div ng-if="vm.actionType != 'displayTournament'">
							
						
								<md-input-container>
								<label>add player</label>
								<md-select ng-model="vm.selectedUsers"
											md-on-close="vm.clearSearchTerm()"
											data-md-container-class="selectdemoSelectHeader"
											
											>
									<md-select-header class="demo-select-header">
									<input ng-model="vm.searchTerm"
											type="search"
											placeholder="Search for a user.."
											class="demo-header-searchbox md-text">
									</md-select-header>
									<md-opttournament label="users">
									<md-option ng-value="user._id" ng-repeat="user in vm.optionalPlayers | filter:searchTerm"
										ng-click="vm.addPlayer(user)">{{user.userName}}
									</md-option>
									</md-opttournament>
								</md-select>
								</md-input-container>
								
														
						</div>
					</div>
				</div>
				<!-- <div class="row"> 
					<div class="col-xs-8" >
						<a ui-sref="displayGroup({groupId: vm.group._id})" ng-if="vm.group">

							<h4 class="tournamentPrizePool">{{vm.group.groupName}}</h4>
						</a>
					</div>
					<div class="col-xs-4" >
						<md-input-container class="full-width mt-1"></md-input-container>
						
							<label>Privacy</label>
							<md-select ng-model="vm.tournament.privacy"
									
									data-md-container-class="selectdemoSelectHeader"
									ng-disabled="vm.actionType == 'displayTournament'"
									>
								<md-select-header class="demo-select-header">
								
								</md-select-header>
								<md-optgroup label="options">
								<md-option ng-value="option" ng-repeat="option in vm.privacyOptions">{{option}}
								</md-option>
								</md-optgroup>
							</md-select>
						</md-input-container>
					</div>
					<br>
					<br>
					<div class="col-xs-6">
						<md-input-container>
							<label>Tournament name</label>
							<input type="text" ng-model="vm.tournament.name" ng-disabled="vm.actionType == 'displayTournament'">
						</md-input-container>
						
						
					</div>
					<div class="col-xs-6">
						<md-input-container flex-gt-md="30">
							
							<input mdc-datetime-picker date="true" time="true" type="text" id="time" short-time="true"
									show-todays-date click-outside-to-close="true"
									placeholder="tournament time" auto-ok="true"
									min-date="minDate" minute-steps="1"
									format="M-d-Y hh:mm a"
									ng-change="vm.saveChange()"
									ng-model="vm.tournament.time"
									ng-disabled="vm.actionType == 'displayTournament'">
									
						</md-input-container>
					</div>
					
				</div>
				<br>
				<div class="row">
					<div  class="col-xs-6">
						<md-input-container>
							<label>Platform</label>
							<input type="text" ng-model="vm.tournament.platform" ng-disabled="vm.actionType == 'displayTournament'">
						</md-input-container>
						
						
						<md-input-container class="full-width mt-1" ng-if="vm.actionType !== 'displayTournament'">
							
							<label>Platfroms</label>
							<md-select ng-model="vm.tournament.platform"
									md-on-close="vm.clearSearchTerm()"
									data-md-container-class="selectdemoSelectHeader"
									ng-disabled="vm.actionType == 'displayTournament'"
									>
								<md-select-header class="demo-select-header">
								<input ng-model="vm.searchTerm"
										type="search"
										placeholder="Search for a platform..."
										class="demo-header-searchbox md-text">
								</md-select-header>
								<md-optgroup label="platforms">
								<md-option ng-value="type.name" ng-repeat="type in vm.platforms | filter:searchTerm"
									ng-click="vm.selectPlatformType(type.name)">{{type.name}}
								</md-option>
								</md-optgroup>
							</md-select>
						</md-input-container>
					</div>
					<div class="col-xs-6">
						<md-input-container>
							<label>Manager</label>
							<input type="text" ng-model="vm.tournament.manager" ng-disabled="vm.actionType == 'displayTournament'">
						</md-input-container>
						
						
						<md-input-container class="full-width mt-1" ng-if="vm.actionType !== 'displayTournament'">
							<label>Select manager</label>
							<md-select ng-model="vm.tournament.manager"
										aria-placeholder="vm.tournament.manager"
										md-on-close="vm.clearSearchTerm()"
										data-md-container-class="selectdemoSelectHeader"
										ng-disabled="vm.actionType == 'displayTournament'"
										>
								<md-select-header class="demo-select-header">
								<input ng-model="vm.searchTerm"
										type="search"
										placeholder="Search for a user.."
										class="demo-header-searchbox md-text">
								</md-select-header>
								<md-opttournament label="Manager">
								<md-option ng-value="user.userName" ng-repeat="user in vm.optionalPlayers | filter:searchTerm"
									ng-click="vm.selectManager(user)">{{user.userName}}
								</md-option>
								</md-opttournament>
							</md-select>
						</md-input-container>
					</div>
					
				</div>
				<br>
				

				<div class="row">
					<div class="col-xs-6">
						<md-input-container>
							<label>Max players</label>
							<input type="text" ng-model="vm.tournament.maxPlayers" ng-disabled="vm.actionType == 'displayTournament'">
						</md-input-container>
						
						
					</div>
					<div class="col-xs-6">
						<md-input-container>
							<label>Player Per Battle</label>
							<input type="text" ng-model="vm.tournament.playerPerBattle" ng-disabled="vm.actionType == 'displayTournament'">
						</md-input-container>
						
						
					</div>
					<div class="col-xs-6">
						<md-input-container>
							<label>Entree Fee</label>
							<input type="number" 
									ng-model="vm.tournament.buyIn" 
										
									ng-disabled="vm.actionType == 'displayTournament'"
									ng-change="vm.calculatePrizePool()">
						</md-input-container>
						<br>
						<h4 class="tournamentPrizePool">Prize pool: {{vm.tournament.prizePool}}</h4>
						
					</div>
					<div class="col-xs-6">
						<md-input-container>
							<label>Places paid</label>
							<input type="number" 
								ng-model="vm.tournament.placesPaid" 
								ng-disabled="vm.actionType == 'displayTournament'" 
								ng-change="vm.initializeWinners(vm.tournament.placesPaid)">
						</md-input-container>
						<div class="row positionRow" ng-repeat="position in vm.tournament.winners">
							<div class="col-xs-1 ">
								<strong>{{$index + 1}}</strong>
							</div>
							<div class="col-xs-4 d-flex">
								<span ng-if="vm.actionType == 'displayTournament'" >{{position.percentage}}</span>
								<input type="number" class=" positionRow--input" 
										ng-model="position.percentage"
										ng-if="vm.actionType !== 'displayTournament'" 
										ng-change="vm.calculatePrize(position.percentage, $index)">
									<span>%</span> 
							</div>
							<div class="col-xs-3">{{position.userName}}</div>
							<div class="col-xs-2">{{position.prize}}</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row" >
					<label class="col-xs-5">Registered ({{vm.tournament.registered.length}})</label>
					<div class="col-xs-7 tournamentForm__registered" >
						<div class="row" ng-repeat="player in vm.tournament.registered">
							<div class="col-xs-9">
								<img class="tournamentForm__registered--profileImg" src="https://randomuser.me/api/portraits/men/{{$index}}.jpg" alt="">
								<a ui-sref="displayUser({ userId: player.userId })">
									{{player.userName}}
								</a>
									
							</div>
							<div class="col-xs-2">
								<md-icon md-svg-src="assets/img/icons/remove.svg" 
									class="tournamentActionButton" 
									ng-click="vm.removePlayer($index)"
									ng-if="vm.actionType == 'editTournament'"
									aria-label="remove from tournament">
								</md-icon>
								
							</div>
						</div>
						
					</div>
					<br>
				</div> -->
				
				<!-- <div class="row" ng-if="vm.actionType != 'displayTournament'">
					<div class="col-xs-4">add player</div>
					<div class="col-xs-4">
						<md-input-container>
						<label>Users</label>
						<md-select ng-model="vm.selectedUsers"
									md-on-close="vm.clearSearchTerm()"
									data-md-container-class="selectdemoSelectHeader"
									>
							<md-select-header class="demo-select-header">
							<input ng-model="vm.searchTerm"
									type="search"
									placeholder="Search for a user.."
									class="demo-header-searchbox md-text">
							</md-select-header>
							<md-opttournament label="users">
							<md-option ng-value="user._id" ng-repeat="user in vm.optionalPlayers | filter:searchTerm"
								ng-click="vm.addPlayer(user)">{{user.userName}}
							</md-option>
							</md-opttournament>
						</md-select>
						</md-input-container>
						
					</div>
					<div class="col-xs-4">
						<span class="customButton" ng-click="vm.addAll()">
							Add All 
							<md-icon md-svg-src="assets/img/icons/add.svg" 
							class="tournamentActionButton" 
							
							ng-if="vm.actionType == 'createTournament'"
							aria-label="remove from tournament">
						</md-icon></span>
						
					</div>
					
				</div> -->

				

				
				<div class="pageButtons">
					
						<button
							class="customButton bg-green white pull-right mr-0.5"
							type="submit"
							ng-disabled="vm.tournamentForm.$invalid"
							ng-if="vm.actionType == 'createTournament'"
						>
							Create
						</button>

						<button
							class="customButton bg-green white pull-right mr-0_5"
							type="submit"
							ng-disabled="vm.tournamentForm.$invalid"
							ng-if="vm.actionType == 'editTournament'"
						>
							Save
						</button>
						<!-- <flipping-button-directive></flipping-button-directive> -->
						<!-- <div ng-if="!vm.registered"> -->
								<!-- <button-to-modal-directive action-name="Join" yes-function="vm.registerToTournament()"></button-to-modal-directive> -->
								<!-- <div class="customButton bg-green white" ng-click="vm.registerToTournament()">Join tournament</div> -->
						<!-- </div> -->
						
						<!-- <div ng-if="vm.registered "> -->
							<!-- <button-to-modal-directive action-name="Leave" yes-function="vm.unRegisterToTournament()"></button-to-modal-directive> -->
							<!-- <div class="customButton bg-black white" ng-click="vm.unRegisterToTournament()">Leave tournament</div> -->
						<!-- </div> -->
						<!-- <div class="pageModalButton" ng-if="vm.actionType == 'displayTournament'"> -->
							<button-to-modal-directive 
								ng-if="vm.showButtonModal && vm.actionType == 'displayTournament'"
								if-true-action-name="Leave" 
								if-false-action-name="Join" 
								if-true-action-message="Leaving so soon?" 
								if-false-action-message="You sure you're up to it?" 
								if-true-function="vm.unRegisterToTournament()" 
								if-false-function="vm.registerToTournament()"
								condition="{{vm.registered}}">
							</button-to-modal-directive>

						<!-- </div> -->
					</div>
				
			</form>
			
		</div>
	</div>
	<div ng-class="vm.activeTab == 'structure'? 'block' : 'hidden' " >
		<div class="tournamentWrapper">
			<div class="tournamentColoumn round{{$index}}" ng-repeat="round in vm.tournamentStructureObj">
				<div class="tournamentColoumn--title">round {{$index + 1 }}</div>
				<div class="battleDirective " ng-repeat="battle in vm.tournamentStructureObj[$index]">
					<div class="battleDirective__user user1 d-flex between" 
							ng-click="vm.selectWinner($index, $event, battle, battle.player1, $parent.$index)"
							ng-class="battle.winner._id == battle.player1._id ? 'winner' : 'loser'">
		
						<div class="battleDirective__user--name">{{battle.player1.userName}}</div>	
						<!-- <span class="battleDirective__user--score">2</span> -->
				
					</div>
					<br>
					<!-- <div>Vs.</div> -->
					<div class="battleDirective__user user2 d-flex between" 
							ng-click="vm.selectWinner($index, $event, battle, battle.player2, $parent.$index)"
							ng-class="battle.winner._id == battle.player2._id ? 'winner' : 'loser'">
						<div class="battleDirective__user--name" >{{battle.player2.userName}}</div>	
						<!-- <span class="battleDirective__user--score">1</span> -->
						
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div ng-class="vm.activeTab == 'prizes'? 'block' : 'hidden' ">
		<div class="container">
			<div class="row WinnersRow" ng-repeat="position in vm.tournament.winners">
				<div class="col-xs-1 ">{{$index + 1}}</div>
				<div class="col-xs-4 d-flex">
						{{position.percentage}}<span>%</span> 
				</div>
				<div class="col-xs-3">{{position.userName}}</div>
				<div class="col-xs-2">{{position.prize}}</div>
			</div>

		</div>
	</div>

	
</div>
<div class="bottomToolBar bg-black">
		<md-fab-toolbar md-direction="left" class="userToolBar ">
	
			<md-fab-trigger class="fabTrigger ">
				<md-button aria-label="Add..." class="text-right"><md-icon md-svg-src="assets/img/icons/threeLines.svg" class="white"></md-icon></md-button>
			</md-fab-trigger>
			
			<md-toolbar>
				<md-fab-actions class="d-flex between bottomToolBar--toolbar">
					<md-button aria-label="LOG OUT" class="d-flex ">
						<auth></auth>
						<!-- <md-icon md-svg-src="assets/img/icons/close.svg"></md-icon> -->
					</md-button>
				
					<md-button aria-label="Back to homepage" ng-click="vm.backToMain()">
						<md-icon md-svg-src="assets/img/icons/home.svg"></md-icon>
					</md-button>
					<md-button aria-label="Store" >
						<md-icon md-svg-src="assets/img/icons/store.svg"></md-icon>
					</md-button>
					<md-button aria-label="challenge for battle">
						<md-icon md-svg-src="assets/img/icons/shield.svg"></md-icon>
					</md-button>
				</md-fab-actions>
			</md-toolbar>
		</md-fab-toolbar>
	
</div>
	<!-- tournament form -->
	

		
	






<!-- <md-content class="messagesTabs">
	<md-tabs class="md-accent " md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">

		<md-tab id="tab1">
		<md-tab-label>Inbox</md-tab-label>
		<md-tab-body>
			<div class="container">
				<div class="row table-header">
					<div class="col-xs-3">
						<div class="messageUser">
							From
						</div>
					</div>
					<div class="col-xs-7">
						<div class="messageSubject">
							Subject
						</div>
					</div>
					<div class="col-xs-2">
						date
					</div>
				</div>
			
				<div class="" ng-repeat="message in vm.userMessages" ng-if="message.receiver.userId == vm.user._id">
					<div class="row">
						<div class="col-xs-2">
							<a ui-sref="displayUser({ userId: message.sender.userId })">
								<div class="messageUser">
									{{message.sender.userName}}
								</div>

							</a>
						</div>
						<div class="col-xs-7" >
							<a ui-sref="displayTournament({ tournamentId: message.links[0].linkId })" ng-if="message.messageType=='tournamentInvite'">
								<div class="messageSubject">
									{{message.subject}}
								</div>

							</a>
						</div>
						<div class="col-xs-7" ng-if="message.messageType=='friendRequest' || message.messageType=='chatMessage'">
							<a ui-sref="displayUser({ userId: message.sender.userId })">
								<div class="messageSubject">
									{{message.subject}}
								</div>

							</a>
						</div>
						<div class="col-xs-3">
							{{message.sentdAt | date:'dd-MM-yy H:mm'}}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
	
						</div>
						<div class="col-xs-10">
							<div class="messageContent">
								{{message.content}}
							</div>
						</div>
	
					
						
					</div>
				</div>
			</div>
			
		</md-tab-body>
		</md-tab>
		<md-tab id="tab2" ng-disabled="data.secondLocked">
		<md-tab-label>Oubox</md-tab-label>
		<md-tab-body>
			<div class="container">
				<div class="row table-header">
						<div class="col-xs-3">
							<div class="messageUser">
								To
							</div>
						</div>
						<div class="col-xs-7">
							<div class="messageSubject">
								Subject
							</div>
						</div>
						<div class="col-xs-2">
							date
						</div>
					</div>
					<div class="" ng-repeat="message in vm.userMessages" ng-if="message.sender.userId == vm.user._id">
						<div class="row">
							<div class="col-xs-2">
								<a ui-sref="displayUser({ userId: message.receiver.userId })">
									<div class="messageUser">
										{{message.receiver.userName}}
									</div>
	
								</a>
							</div>
							<div class="col-xs-7" >
								<a ui-sref="displayTournament({ tournamentId: message.links[0].linkId })" ng-if="message.messageType=='tournamentInvite'">
									<div class="messageSubject">
										{{message.subject}}
									</div>
	
								</a>
							</div>
							<div class="col-xs-7" ng-if="message.messageType=='friendRequest' || message.messageType=='chatMessage'">
								<a ui-sref="displayUser({ userId: message.sender.userId })">
									<div class="messageSubject">
										{{message.subject}}
									</div>
	
								</a>
							</div>
							<div class="col-xs-3">
								{{message.sentdAt | date:'dd-MM-yy H:mm'}}
							</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
	
						</div>
						<div class="col-xs-10">
							<div class="messageContent">
								{{message.content}}
							</div>
						</div>
	
					
						
					</div>
				</div>
			</div>
		</md-tab-body>
		</md-tab>
		<md-tab id="tab3">
		<md-tab-label>Draft</md-tab-label>
		<md-tab-body>
			<div class="container">
				<div class="row table-header">
						<div class="col-xs-3">
							<div class="messageUser">
								To
							</div>
						</div>
						<div class="col-xs-7">
							<div class="messageSubject">
								Subject
							</div>
						</div>
						<div class="col-xs-2">
							date
						</div>
					</div>
					<div class="" ng-repeat="message in vm.userMessages" ng-if="message.sender.userId == vm.user._id">
						<div class="row">
							<div class="col-xs-2">
								<a ui-sref="displayUser({ userId: message.receiver.userId })">
									<div class="messageUser">
										{{message.receiver.userName}}
									</div>
	
								</a>
							</div>
							<div class="col-xs-7" ng-if="message.messageType=='tournamentInvite'">
								<a ui-sref="displayTournament({ tournamentId: message.links[0].linkId })">
									<div class="messageSubject">
										{{message.subject}}
									</div>
	
								</a>
							</div>
							<div class="col-xs-7" ng-if="message.messageType=='friendRequest' || message.messageType=='chatMessage'">
								<a ui-sref="displayUser({ userId: message.sender.userId })">
									<div class="messageSubject">
										{{message.subject}}
									</div>
	
								</a>
							</div>
							<div class="col-xs-3">
								{{message.sentdAt | date:'dd-MM-yy H:mm'}}
							</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
	
						</div>
						<div class="col-xs-10">
							<div class="messageContent">
								{{message.content}}
							</div>
						</div>
	
					
						
					</div>
				</div>
			</div>
		</md-tab-body>
		</md-tab>
		<md-tab id="tab4" class="">
			<md-icon md-svg-src="assets/img/icons/add.svg" class="white"></md-icon>
		<md-tab-body>
			<div class="container">
				<br>
				<message-form-directive></message-form-directive>
				
			</div>
		</md-tab-body>
		</md-tab>
		<md-tab id="tab5" class="">
			<md-icon md-svg-src="assets/img/icons/search.svg" class="white"></md-icon>
		<md-tab-body>
			
		</md-tab-body>
		</md-tab>
		
	</md-tabs>
</md-content> -->
