<div class="messageformModal">
        <form
        ng-submit="submitMessageForm(message, user._id)"
        name="messageForm"
        role="form"
        id="messageForm"
        novalidate
        >   
            
            <md-input-container class="full-width" >
                <label>To: 
                    <!-- <span>{{message.receiver.userName}}</span> -->
                    <span>{{message.receiver.userName}}</span>
                </label>
                <md-select ng-model="message.userReceiver"
                            md-on-close="clearSearchTerm()"
                            data-md-container-class="selectdemoSelectHeader"
                            ng-if="!message.receiver"
                            
                            multiple
                            >
                    <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                            type="search"
                            placeholder="Search for a user.."
                            class="demo-header-searchbox md-text">
                    </md-select-header>
                    <md-optgroup label="users">
                    <md-option ng-value="{userName: user.userName, userId: user.userId}" ng-repeat="user in vm.user.friends | filter:searchTerm">
                        {{user.userName}}
                    </md-option>
                    </md-optgroup>
                </md-select>
                <div ng-messages="messageForm.message.userReceiver.$error">
                    <div ng-message="required">This is required. Please pick at least one user</div>
                    
                </div>
            </md-input-container>
            <br><br>
            <md-input-container class="" ng-if="message.messageType == 'groupMessage' && !message.receiver" >
                <label>Pick Groups: </label>
                <md-select ng-model="message.sendToGroups"
                            md-on-close="clearSearchTerm()"
                            data-md-container-class="selectdemoSelectHeader"
                            multiple
                            >
                    <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                            type="search"
                            placeholder="Search for a user.."
                            class="demo-header-searchbox md-text">
                    </md-select-header>
                    <md-optgroup label="groups">
                    <md-option ng-value="group" ng-repeat="group in vm.groups | filter:searchTerm">
                        {{group.groupName}}
                    </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            
            
            <div class="contanier">
                <md-input-container  class="md-block" flex-gt-sm>
                    <label>Subject</label>
                    <input md-maxlength="50" required name="messageSubject" ng-model="message.subject" />
                    <div ng-messages="messageForm.message.subject.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The description must be less than 50 characters long.</div>
                    </div>
                </md-input-container>
                <!-- <label for="messageSubject" class="col-md-5">Subject</label>
                <div class="col-md-5">
                    <input
                        type="text"
                        ng-model="message.subject"
                        ng-disabled=""
                        name="messageSubject"
                        id="messageSubject"
                        autocomplete="off"
                        placeholder="{{message.subject}}"
                        required
                    >
                </div> -->
            
                    <md-input-container class="md-block">
                        <label>Content</label>
                        <textarea ng-model="message.content" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                <!-- <label for="massageContent" class="col-md-5">Content</label>
                <div class="col-md-5">
                    <input
                        type="text"
                        ng-model="message.content"
                        ng-disabled=""
                        name="massageContent"
                        id="massageContent"
                        autocomplete="off"
                        placeholder="Message Content"
                        
                    >
                </div> -->
            </div>
        
            <!-- <div class=""> -->
                <div class="buttons">
                    <button class="textIconButton" type="submit"
                            ng-disabled="messageForm.$invalid">
                            
                            <md-icon md-svg-src="assets/img/icons/save.svg" class="backToHomePageButton orange"></md-icon>
                    </button>
                    <button class="textIconButton " type="submit">
                        
                        <md-icon md-svg-src="assets/img/icons/send.svg" class="backToHomePageButton green"></md-icon>
                    </button>
        
                </div>
            <!-- </div> -->
        </form>
</div>
