<form
ng-submit="vm.submitMessageForm(vm.message, vm.user._id)"
name="vm.messageForm"
role="form"
id="messageForm"
novalidate
>

<div class="row">
    <label for="messageSubject" class="col-md-5">Subject</label>
    <div class="col-md-5">
        <input
            type="text"
            ng-model="vm.message.subject"
            ng-disabled=""
            name="messageSubject"
            id="messageSubject"
            autocomplete="off"
            placeholder="Subject"
            required
        >
    </div>
</div>

<div class="row">
    <label for="massageContent" class="col-md-5">Content</label>
    <div class="col-md-5">
        <input
            type="textarea"
            ng-model="vm.message.content"
            ng-disabled=""
            name="massageContent"
            id="massageContent"
            autocomplete="off"
            placeholder="Message Content"
            
        >
    </div>
</div>


<input
    type="hidden"
    ng-model="vm.message.messageType"
    ng-disabled=""
    name="messageType"
    id="messageType"
    autocomplete="off"
    placeholder="message Type"
    required>            

    

<div class="row">
    <div class="col-md-5 col-md-offset-5">
        <button
            type="submit"
            ng-disabled="vm.messageForm.$invalid"
            ng-if="vm.actionType == 'sendMessage'"
        >
            Send
        </button>

        <button
            type="submit"
            ng-disabled="vm.messageForm.$invalid"
            ng-if="vm.actionType == 'saveDraftMessage'"
        >
            Save
        </button>
    </div>
</div>
</form>