.green{
    color: $green !important;
}

.bg-green {
    background-color: $green !important;
}

.white{
    color: $white !important;
}

.bg-white {
    background-color: $white !important;
}

.blue{
    color: $alert-blue !important;
}

.bg-blue {
    background-color: $alert-blue !important;
}

.black{
    color: $black !important;
}

.bg-black {
    background-color: $black !important;
}

