/******************************************************************

Variables

******************************************************************/

$black:             #231f20;
$white:             #fff;
$gray:              #cbd9ee;
$disabled-gray:     #cfcfcf;
$green:             rgb(22, 167, 22);

$red: #ff0000;
$yellow:            yellow;
$pink:              #e9204f;
$orange:             #F44336;
$purple:            #bd28bd;
$alert-blue-faded: rgba(0, 0, 255, 0.521);
$black-faded:       rgba(0,0,0,.5);
            
$disabled-gray-faded:#cfcfcf83;
$green-faded:        rgba(22, 167, 22, .2);

$red-faded:          rgba(255, 0, 0, 0.2);
$yellow-faded:       rgba(255, 255, 0, 0.534);
$pink-faded:         #e9204f7c;
$orange-faded:        rgba(244, 67, 54, 0.514);
$purple-faded:       rgba(189, 40, 189, 0.534);

// links
$text-color:        #5c6b80;
$link-color:        $black;
$link-hover:        darken($link-color, 9%);

// alerts
$alert-red:			red;
$alert-green:		#645564;
$alert-blue:		#0000ff;
