<div class="icon {{positionClass}}">
    <button mat-raised-button
        class="nakedButton"
        matTooltip="{{toolTipText}}"
        [matTooltipPosition]="'below'"
        aria-label="Button that displays a tooltip in various positions">
        <fa class="{{bgColor}}" name="{{icon}}" animation=""
            [class.open]="white"
            (click)="toggleForm()">
        </fa>
    </button>
    
</div>
<div class="iconToRowWrapper {{positionClass}} bg-{{bgColor}}"
    [class.open]="open">
    <div class="iconToRowWrapperContent white" *ngIf="open">
        <div class="input" *ngIf="icon =='comments'">
            <input class="chatInput black" [(ngModel)]="message" placeholder="Enter message..."/>
            <fa class="white icon-download" class="chatSend" name="send" animation=""
                (click)="yesFunction(message)">
            </fa>    
            <fa class="white icon-download" class="chatSend" name="minus" animation=""
                (click)="toggleForm()">
            </fa>    
        </div>
        <div *ngIf="icon == 'trash'">
            <div class="question">
                {{question}}
                <fa class="white icon-download" class="chatSend" name="trash" animation=""
                    (click)="yesFunction()">
                </fa>    
                <fa class="white icon-download" class="chatSend" name="minus" animation=""
                    (click)="toggleForm()">
                </fa>
            </div>
        </div>
        <div class="input" *ngIf="icon =='search'">
            <input class="chatInput black" [(ngModel)]="search" placeholder="Search..."/>
            <fa class="white icon-download" class="chatSend" name="search" animation=""
                (click)="yesFunction(search)">
            </fa>    
            <fa class="white icon-download" class="chatSend" name="minus" animation=""
                (click)="toggleForm()">
            </fa>    
        </div>
    </div>
    
</div>
