.messagesTabs md-tabs.md-accent>md-tabs-wrapper {
    background-color: $pink;
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 248px;
    height: 90vh;
}

md-tab-content {
    margin-top: .5rem;
}

.messageRow{
    transition: .3 all;
    border-bottom: 1px solid black;
    font-size: 0.9rem;
    padding: 0;

    &__main{
        border-bottom: 1px solid lightgrey;
        padding: 0.2rem 0.5rem;
        min-height: 3rem;
        height: auto;
        

        &--small{
            font-size: .7rem;
        }
    }

    &--coloumn{
        border-right: 1px solid black;
        min-height: 3rem;
        height: auto;
    }

    &__content{
        
        transition: .3 all;
        padding: .5rem 1.5rem;
        // border-bottom: 1px solid black;
        background-color: #e9204f17;
    }
}

.unread {
    font-weight: bold;
}



