.messagesTabs md-tabs.md-accent>md-tabs-wrapper {
    background-color: $pink;
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 248px;
    height: 90vh;
}

md-tab-content {
    margin-top: .5rem;
}

.messageRow{
    transition: .3 all;
    border-bottom: 1px solid black;
    font-size: 0.9rem;
    padding-right: .5rem;
    // padding: 0;

    &__main{
        border-bottom: 1px solid lightgrey;
        padding: 0.2rem 0.5rem;
        min-height: 3rem;
        height: auto;
        

        &--small{
            font-size: .7rem;
        }
        &--date{
            font-size: .7rem;
            // width: 50%;
        }

        &__actions{
            width: 50%;
        }
    }

    &--coloumn{
        border-right: 1px solid black;
        min-height: 3rem;
        height: auto;
    }

    &__content{
        margin: 0;
        transition: .3s all;
        padding: .5rem 1.5rem;
        height: auto;
        // border-bottom: 1px solid black;
        background-color: #e9204f17;

        &__main{
            
            &--text{

            }

            &--actions{
                
            }
        }

        &--actions{
            
        }
    }

    &__replies{
        

        &__reply{
            border-bottom: 1px solid lightpink;
            padding: .5rem 1.5rem;
        }
    }

    &__replyForm{
        margin: 0;
        transition: .3s all;
        padding: .5rem 1.5rem;
        height: auto;
    }
}

.messageRow div{
    padding-left: .3rem;
}

.unread {
    font-weight: bold;
}

.contentHidden{
   
    opacity: 0;
    height: 0 !important;
    padding: 0;
}

// .contentHidden div{
//     // height: 0;
//     display: none;
// }



