<div class="pageNav bg-black d-flex between">
		<div class="navBackButton white" ui-sref="displayUser({ userId: vm.user._id })">
			<back-to-main-button-directive></back-to-main-button-directive>	
		</div>
		<div class="pageNav__item white center" class="active">
			
			<div ng-click="vm.changeActiveTab('info')"  class="">
				<md-icon md-svg-src="assets/img/icons/games.svg" class="groupActionButton white"></md-icon>
				{{vm.game.gametype}}
			</div>
		</div>
		
		
	</div>
<div class="container-fluid user form">

	<div class="row" ng-if="vm.user.role == 'admin' && vm.actionType != 'editGame'">
		<div class="col-md-12">
			<button class="customButton bg-green white" ui-sref="editGame({ gameId: vm.game._id })" title="edit game">
			    Edit game
			</button>
		</div>
	</div>

	<!-- game form -->
	<div>

		<form
			ng-submit="vm.submitGameForm(vm.game, vm.game._id)"
			name="vm.gameForm"
			role="form"
			id="game"
			novalidate
		>

			<div ng-if="vm.actionType != 'createGame'" class="row hidden">
				<label for="game-id" class="col-md-5">ID</label>
				<div class="col-md-5">
					<input
						type="text"
						ng-model="vm.game._id"
						ng-disabled="'always'"
						name="game-id"
						id="game-id"
						autocomplete="off"
						placeholder="game ID"
					>
				</div>
			</div>

			<div class="row">
				<label for="gametype" class="col-xs-5">Game type</label>
				<div class="col-xs-7">
					<input
						type="text"
						ng-model="vm.game.gametype"
						ng-disabled="vm.actionType == 'displayGame'"
						name="gametype"
						id="gametype"
						autocomplete="off"
						placeholder="gametype"
						
					>
				</div>
				<label for="gametype" class="col-xs-5">Game time</label>
				
				<div class="col-xs-7">
					<input type="datetime-local" id="gametime" name="gametime" ng-model="vm.game.time"
						 min="2019-07-01T00:00:00" max="2030-12-31T00:00:00" 
						 ng-disabled="vm.actionType == 'displayGame'"/>
					
				</div>
			</div>

			<div class="row">
				<label for="host" class="col-xs-5">Host:</label>
				<div class="col-xs-7">
					<input
						type="text"
						ng-model="vm.game.host"
						ng-disabled="vm.actionType == 'displayGame'"
						name="host"
						id="host"
						autocomplete="off"
						placeholder="host"
						required
					>
				</div>
			</div>
			<br>
			<div class="row">
				<label class="col-xs-5">Players</label>
				<div class="col-xs-7">
					<div class="row" ng-repeat="player in vm.game.players">
						<div class="col-xs-9">
							<a ui-sref="displayUser({ userId: player.userid })">
								{{player.userName}}
							</a>
								
						</div>
						<div class="col-xs-2 " >
							<md-icon md-svg-src="assets/img/icons/remove.svg" class="groupActionButton" ng-click="vm.removePlayer($index)"></md-icon>
							<!-- <button ng-if="vm.actionType == 'editGame'" ng-click="vm.removePlayer($index)">X</button> -->
						</div>
					</div>
					
				</div>
			</div>
			<hr>
			<div class="row" ng-if="vm.actionType != createGame">
				<label class="col-xs-5 col-md-2">Tentative Players:</label>
				<div class="col-xs-7 col-md-10">
					<div class="row">
						<div class="col-xs-12 col-md-2 d-flex between" ng-repeat="player in vm.game.optionalplayers" >
							<a ui-sref="displayUser({ userId: player.userid })">
								{{player.userName}}
							</a>
							<md-icon md-svg-src="assets/img/icons/remove.svg" class="groupActionButton" ng-click="vm.removeFromOptionalPLayers()"></md-icon>
							<!-- <button ng-if="player.userName == vm.user.userName" ng-click="vm.removeFromOptionalPLayers()">X</button>	 -->
						</div>
						
					</div>
					
				</div>
			</div>
			<hr>
			<div class="row" ng-if="vm.actionType != createGame">
				<div class="col-xs-12 col-md-2">
					<label>Optional Times: </label>
					
				</div>
				<div class="col-xs-12 col-md-10">
					<div class="row tabbleRow" ng-repeat="time in vm.game.timeoptions" ng-if="time.players.length > 0">
						<div class="col-xs-5 col-md-2" >
							<span class="timeOption" ng-click="vm.addPlayerToTimeOption(time)">
								{{time.date | date:'dd-MM-yy H:mm'}}

							</span>
						</div>
						<div class="col-xs-7">
							<div ng-repeat="player in time.players" class="d-flex between">
								<span>{{player.userName}}</span>
								<md-icon md-svg-src="assets/img/icons/remove.svg" class="groupActionButton" ng-click="vm.removePlayerfromTimeOption(time)"></md-icon>
								<!-- <button ng-if="player.userName == vm.user.userName" ng-click="vm.removePlayerfromTimeOption(time)">X</button> -->
							</div>
						
						</div>
						
					</div>
					
					
				</div>
			</div>
			
			
			<hr>
			
			
			<div class="row" ng-if="vm.game.winner">
				<label class="col-xs-5"><h3>Winner:</h3></label>
				<div class="col-xs-7">
					<h3>{{vm.game.winner.userName}}	</h3> 				
				</div>
			</div>
			<br>

			<div class="row" ng-if="!vm.registerd">
				<div class="col-xs-5">
					<button	class="customButton" type="button"
						
						ng-click="vm.addOptionalTime()">
						optional time
						<md-icon md-svg-src="assets/img/icons/add.svg" class="groupActionButton"></md-icon>
					</button>
				</div>
				<div class="col-xs-7 optionalTime">
						<input type="datetime-local" id="gametimeOption" name="gametimeOption" ng-model="vm.timeOption"
						min="2019-07-01T00:00:00" max="2030-12-31T00:00:00" />
						
				</div>
				
				
			</div>
			<div class="row" ng-if="vm.actionType != 'displayGame'">
				<div class="col-xs-5">add player</div>
				<div class="col-xs-7">
					<!--<users-select-directive userlist="vm.game.players"></users-select-directive>-->
					<md-input-container>
						<label>Optional Players</label>
						<md-select ng-model="vm.game.optionalPlayers"
									md-on-close="vm.clearSearchTerm()"
									data-md-container-class="selectdemoSelectHeader"
									>
							<md-select-header class="demo-select-header">
							<input ng-model="vm.searchTerm"
									type="search"
									placeholder="Search for a user.."
									class="demo-header-searchbox md-text">
							</md-select-header>
							<md-optgroup label="users">
							<md-option ng-value="user._id" ng-repeat="user in vm.optionalPlayers | filter:searchTerm"
								ng-click="vm.addPlayer(user)">{{user.userName}}
							</md-option>
							</md-optgroup>
						</md-select>
					</md-input-container>
					<!-- <select ng-options="user as user.userName for user in vm.optionalPlayers" 
						ng-model="user" ng-change="vm.addPlayer(user)">
					</select> -->
				</div>
				
			</div>
			<br>
			<div class="row" ng-if="vm.actionType == 'editGame'">
				<div class="col-xs-5">select winner</div>
				<div class="col-xs-7">
					<md-input-container>
						<label>Players</label>
						<md-select ng-model="vm.selectedWinner"
									md-on-close="vm.clearSearchTerm()"
									data-md-container-class="selectdemoSelectHeader"
									>
							<md-select-header class="demo-select-header">
							<input ng-model="vm.searchTerm"
									type="search"
									placeholder="Search for a user.."
									class="demo-header-searchbox md-text">
							</md-select-header>
							<md-optgroup label="users">
							<md-option ng-value="user._id" ng-repeat="user in vm.game.players |
								filter:searchTerm"
								ng-click="vm.selectWinner(user)">{{user.userName}}
							</md-option>
							</md-optgroup>
						</md-select>
					</md-input-container>
					<!-- <select ng-options="user as user.userName for user in vm.game.players" 
						ng-model="user" ng-change="vm.selectWinner(user)">
					</select> -->
				</div>
				
			</div>

			
			<div class="row">
				<div class="col-md-5 col-md-offset-5">
					<button
						class="customButton bg-green white"
						type="submit"
						
						ng-if="vm.actionType == 'createGame' || vm.actionType == 'createGroupGame'"
					>
						Create
					</button>

					<button
						class="customButton"
						type="submit"
						ng-disabled="vm.gameForm.$invalid"
						ng-if="vm.actionType == 'editGame'"
					>
						Save
					</button>
					
					
				</div>
			</div>
		</form>
		<div class="buttons d-flex arround" ng-if="vm.actionType == 'loadGame' || vm.actionType == 'displayGame'">
			<div ng-if="!vm.registerd">
					<button	class="customButton bg-green white" ng-click="vm.registerToGame()">Register</button>
			</div>
			<div ng-if="!vm.isOptional">
				<button class="customButton bg-blue white" ng-click="vm.addToOptionalPLayers()">Tentative</button>
			</div>
			<div ng-if="vm.registerd">
				<button class="customButton bg-black white" ng-click="vm.unRegisterToGame()">Unregister</button>
			</div>
		</div>
		
		
			
		
	</div>
</div>
