<div class="pageNav bg-orange d-flex between">
	<div class="navBackButton white" ui-sref="displayUser({ userId: vm.currentUser._id })">
		<back-to-main-button-directive></back-to-main-button-directive>	
	</div>
	<div class="pageNav__item white center" ng-class="vm.activeTab == 'info'? 'active' : ''">
		
		<div ng-click="vm.changeActiveTab('info')"  class="">
			<md-icon md-svg-src="assets/img/icons/info.svg" class="groupActionButton white"></md-icon>
			Info
		</div>
	</div>
	<div class="pageNav__item white center" ng-class="vm.activeTab == 'stats'? 'active' : ''">
		<div ng-click="vm.changeActiveTab('stats')" class="">
			<md-icon md-svg-src="assets/img/icons/timeline.svg" class="groupActionButton white"></md-icon>
			stats
		</div>
	</div>
	<div class="pageNav__item white center" ng-class="vm.activeTab == 'cards'? 'active' : ''">
		<div ng-click="vm.changeActiveTab('cards')" class="">
			<md-icon md-svg-src="assets/img/icons/shield.svg" class="groupActionButton white"></md-icon>
			Cards
		</div>
	</div>
	<div class="pageNav__item white center" ng-class="vm.activeTab == 'battles'? 'active' : ''">
		<div ng-click="vm.changeActiveTab('battles')" class="">
			<md-icon md-svg-src="assets/img/icons/games.svg" class="groupActionButton white"></md-icon>
			Battles
		</div>
	</div>
	
</div>
<div class="container-fluid user form">
	<!-- <div class="userTabs d-flex arround" >
		<div ng-click="vm.changeActiveTab('info')" ng-class="vm.activeTab == 'info'? 'active' : ''" class="">Info</div>
		<div ng-click="vm.changeActiveTab('stats')" ng-class="vm.activeTab == 'stats'? 'active' : ''" class="">Stats</div>
		<div ng-click="vm.changeActiveTab('cards')" ng-class="vm.activeTab == 'cards'? 'active' : ''" class="">Cards</div>
		<div ng-click="vm.changeActiveTab('battles')" ng-class="vm.activeTab == 'battles'? 'active' : ''" class="">Battles</div>
		
	</div> -->
	<div class="userContent">
		<div ng-class="vm.activeTab == 'info'? 'block' : 'hidden' " >
			<div class="row">
				<div class="col-xs-5">name: </div>
				<div class="col-xs-7">{{vm.user.name}}</div>
				<div class="col-xs-5">trophies: </div>
				<div class="col-xs-7">{{vm.user.trophies}}</div>
				<div class="col-xs-5">bestTrophies: </div>
				<div class="col-xs-7">{{vm.user.bestTrophies}}</div>
				<div class="col-xs-5">arena: </div>
				<div class="col-xs-7">{{vm.user.arena.name}}</div>
				<div class="col-xs-5">role: </div>
				<div class="col-xs-7">{{vm.user.role}}</div>
				<div class="col-xs-5">clan: </div>
				<div class="col-xs-7">{{vm.user.clan.name}}</div>
			</div>
			
			
		</div>
		<div ng-class="vm.activeTab == 'stats'? 'block' : 'hidden' " >
			<div class="row">
				<div class="col-xs-5">wins</div>
				<div class="col-xs-7">{{vm.user.wins}}</div>
				<div class="col-xs-5">threeCrownWins</div>
				<div class="col-xs-7">{{vm.user.threeCrownWins}}</div>
				<div class="col-xs-5">losses</div>
				<div class="col-xs-7">{{vm.user.losses}}</div>
				<div class="col-xs-5">battleCount</div>
				<div class="col-xs-7">{{vm.user.battleCount}}</div>
				<div class="col-xs-5">challengeMaxWins</div>
				<div class="col-xs-7">{{vm.user.challengeMaxWins}}</div>
				
				
			</div>
		</div>
		<div ng-class="vm.activeTab == 'cards'? 'block' : 'hidden' ">
			<div class="row">
				<div class="col-xs-3">currentDeck</div>
				<div class="col-xs-9">
					<div class="cardImage" ng-repeat="card in vm.user.currentDeck">
						<img  src="{{card.iconUrls.medium}}" alt="">
					</div>
					
					
				</div>
				<div class="col-xs-5">currentFavouriteCard</div>
				<div class="col-xs-7">
					<div class="cardImage">
						<img  src="{{vm.user.currentFavouriteCard.iconUrls.medium}}" alt="">
					</div>
				</div>
				
				
			</div>
		</div>
		<div ng-class="vm.activeTab == 'battles'? 'block' : 'hidden' ">
			<div class="row table-header">
				<div class="col-xs-3">Time</div>
				<div class="col-xs-3">Type</div>
				<div class="col-xs-3">Mate</div>
				<div class="col-xs-3">Rival</div>
				
			</div>
			<div class="" ng-repeat="battle in vm.userBattles">
				<battle-directive battle="{{battle}}"></battle-directive>
			</div>
		</div>
		
	</div>

	

	
</div>
