.userRow{
    
    position: relative;
    margin-bottom: 0.7rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.062);
    
}
.rowActions{
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-around;
}