

.createGroupForm{

    &__members{
        max-height: 10rem;
        overflow: auto;

        &--profileImg{
            height: 2rem;
            
        }
    }

    &--label{
        font-size: 85%;
        line-height: inherit;
        margin-right: .5rem;
    }
}
