<div class="pageNav bg-blue d-flex between">
	<div class="navBackButton white" ui-sref="displayUser({ userId: vm.user._id })">
		<back-to-main-button-directive></back-to-main-button-directive>	
	</div>
	<div class="pageNav__item white center" ng-class="vm.activeTab == 'info'? 'active' : ''">
		
		<div ng-click="vm.changeActiveTab('info')"  class="">
			<md-icon md-svg-src="assets/img/icons/info.svg" class="groupActionButton white"></md-icon>
			Info
		</div>
	</div>
	<div class="pageNav__item white center" ng-class="vm.activeTab == 'games'? 'active' : ''">
		<div ng-click="vm.changeActiveTab('games')" class="">
			<md-icon md-svg-src="assets/img/icons/games.svg" class="groupActionButton white"></md-icon>
			Games
		</div>
	</div>
	<div class="pageNav__item white center" ng-class="vm.activeTab == 'stats'? 'active' : ''">
		<div ng-click="vm.changeActiveTab('stats')" class="">
			<md-icon md-svg-src="assets/img/icons/timeline.svg" class="groupActionButton white"></md-icon>
			Stats
		</div>
	</div>
	
</div>
<div class="container-fluid group form">
	<div class="row" ng-if="vm.user.role == 'admin' && vm.actionType != 'createGroup' || vm.group.groupManager.userName == vm.user.userName">
		<div class="col-md-12">
			<md-fab-toolbar md-direction="left" class="userToolBar" ng-if="!vm.isUser">
				<md-fab-trigger>
					<md-button aria-label="Add..."><md-icon md-svg-src="assets/img/icons/threeLines.svg"></md-icon></md-button>
				</md-fab-trigger>
				
				<md-toolbar>
					<md-fab-actions class="d-flex arround">
						<md-button aria-label="Chat" ng-click="">
							<md-icon md-svg-src="assets/img/icons/edit.svg" ui-sref="editGroup({ groupId: vm.group._id })"></md-icon>
						</md-button>
					
						<md-button aria-label="group chat" ng-click="">
							<md-icon md-svg-src="assets/img/icons/chat.svg"></md-icon>
						</md-button>
						<md-button aria-label="Invite to group" ng-click="">
							<md-icon md-svg-src="assets/img/icons/baseline-person_add-24px.svg"></md-icon>
						</md-button>
						<md-button aria-label="challenge for battle" ng-click="">
							<md-icon md-svg-src="assets/img/icons/shield.svg"></md-icon>
						</md-button>
					</md-fab-actions>
				</md-toolbar>
			</md-fab-toolbar>
			<!-- <button class="customButton bg-green white" ui-sref="editGroup({ groupId: vm.group._id })" title="edit group">
			    Edit group
			</button> -->
		</div>
	</div>

	<h1 class="">{{vm.group.name}}</h1>
		<!-- <div class="userTabs d-flex arround" >
			<div ng-click="vm.changeActiveTab('info')" ng-class="vm.activeTab == 'info'? 'active' : ''" class="">Info</div>
			<div ng-click="vm.changeActiveTab('games')" ng-class="vm.activeTab == 'games'? 'active' : ''" class="">Games</div>
			<div ng-click="vm.changeActiveTab('stats')" ng-class="vm.activeTab == 'stats'? 'active' : ''" class="">Stats</div>
		</div> -->
		<div class="userContentArea">
			<div ng-class="vm.activeTab == 'info'? 'block' : 'hidden' " >
				<form
					ng-submit="vm.submitGroupForm(vm.group, vm.group._id)"
					name="vm.groupForm"
					role="form"
					id="group"
					novalidate
				>
				
					<div ng-if="vm.actionType != 'createGroup'" class="row hidden">
						<label for="group-id" class="col-md-5">ID</label>
						<div class="col-md-5">
							<input
								type="text"
								ng-model="vm.group._id"
								ng-disabled="'always'"
								name="group-id"
								id="group-id"
								autocomplete="off"
								placeholder="group ID"
							>
						</div>
					</div>

					<div class="row">
						<label for="grouptype" class="col-xs-5">Group name</label>
						<div class="col-xs-7">
							<input
								type="text"
								ng-model="vm.group.groupName"
								ng-disabled="vm.actionType == 'displayGroup'"
								name="groupname"
								id="groupname"
								autocomplete="off"
								placeholder="groupname"
								
							>
						</div>
						
					</div>
					<br>
					<div class="row">
						<label for="grouptype" class="col-xs-5">Group Manager: </label>
						<div class="col-xs-7">
							<a ui-sref="displayUser({ userId: vm.group.groupManager._id })">
							{{vm.group.groupManager.userName}}
							</a>
						</div>
						
					</div>
					<br>
					<div class="row" ng-if="vm.actionType == 'editGroup'">
						<label  class="col-xs-5">change manager:</label>
						<div class="col-xs-7">
								<md-input-container>
									<label>Members</label>
									<md-select ng-model="vm.selectedMember"
												md-on-close="vm.clearSearchTerm()"
												data-md-container-class="selectdemoSelectHeader"
												>
										<md-select-header class="demo-select-header">
										<input ng-model="vm.searchTerm"
												type="search"
												placeholder="Search for a user.."
												class="demo-header-searchbox md-text">
										</md-select-header>
										<md-optgroup label="users">
										<md-option ng-value="user._id" ng-repeat="user in vm.group.members |
											filter:searchTerm"
											ng-click="vm.selectManager(user)">{{user.userName}}
										</md-option>
										</md-optgroup>
									</md-select>
								</md-input-container>
								<!-- <select ng-options="user as user.userName for user in vm.group.members" 
									ng-model="user" ng-change="vm.selectManager(user)" >
								</select> -->
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-xs-5">Members</label>
						<div class="col-xs-7">
							<div class="row" ng-repeat="member in vm.group.members">
								<div class="col-xs-9">
									<a ui-sref="displayUser({ userId: member.userId })">
										{{member.userName}}
									</a>
										
								</div>
								<div class="col-xs-2">
									<md-icon md-svg-src="assets/img/icons/remove.svg" 
										class="groupActionButton" 
										ng-click="vm.removePlayer($index)"
										ng-if="vm.actionType == 'editGroup'"
										aria-label="remove from group">
									</md-icon>
									
								</div>
							</div>
							
						</div>
					</div>
					
					
					<br>
					<div class="row" ng-if="vm.actionType != 'displayGroup'">
						<div class="col-xs-5">add member</div>
						<div class="col-xs-7">
								
								
								  <md-input-container>
									<label>Users</label>
									<md-select ng-model="vm.selectedUsers"
											   md-on-close="vm.clearSearchTerm()"
											   data-md-container-class="selectdemoSelectHeader"
											   >
									  <md-select-header class="demo-select-header">
										<input ng-model="vm.searchTerm"
											   type="search"
											   placeholder="Search for a user.."
											   class="demo-header-searchbox md-text">
									  </md-select-header>
									  <md-optgroup label="users">
										<md-option ng-value="user._id" ng-repeat="user in vm.users |
										  filter:searchTerm"
										  ng-click="vm.addPlayer(user)">{{user.userName}}
										</md-option>
									  </md-optgroup>
									</md-select>
								  </md-input-container>
								
							<!--<users-select-directive userlist="vm.group.players"></users-select-directive>-->
							
							<!-- <select ng-options="user as user.userName for user in vm.users" 
								ng-model="user" ng-change="vm.addPlayer(user)">
							</select> -->
						</div>
						
					</div>

					<div class="row" ng-if="vm.actionType == 'createGroup'">
						<div class="col-xs-5">select manager</div>
						<div class="col-xs-7">
							<select name="platform" id="platform" ng-model="vm.groupManager">
								<option value="">---Please select---</option> <!-- not selected / blank option -->
								<option ng-click="vm.selectManager(user)" ng-repeat="user in vm.group.members" value="{{user}}">{{user.userName}}</option> <!-- interpolation -->
								
							</select>
							<!--<select ng-options="user as user.username for user in vm.group.members" 
								ng-model="user" ng-change="vm.selectManager(user)">
							</select>-->
						</div>
						
					</div>

					
					<div class="row">
						<div class="col-md-5 col-md-offset-5">
							<button
								class="customButton bg-green white"
								type="submit"
								ng-disabled="vm.groupForm.$invalid"
								ng-if="vm.actionType == 'createGroup'"
							>
								Create
							</button>

							<button
								class="customButton bg-green white"
								type="submit"
								ng-disabled="vm.groupForm.$invalid"
								ng-if="vm.actionType == 'editGroup'"
							>
								Save
							</button>
							
							
						</div>
					</div>
				</form>
				
				
			</div>
			<div ng-class="vm.activeTab == 'games'? 'block' : 'hidden' " >
				
				<game-list games="vm.games"></game-list>
			</div>
			
			<div ng-class="vm.activeTab == 'stats'? 'block' : 'hidden' ">
				
			</div>
		
			
		</div>

	<!-- group form -->
	

		
	<div class="buttons d-flex arround">
		<div ng-if="!vm.registerd && vm.actionType != 'createGroup'">
				<button	class="customButton bg-green white" ng-click="vm.registerToGroup()">Join group</button>
		</div>
		
		<div ng-if="vm.registerd">
			<button class="customButton bg-black white" ng-click="vm.unRegisterToGroup()">Leave group</button>
		</div>
	</div>
		
		
			

</div>
