.tabbleRow{
    background-color: rgb(250, 245, 239);
    padding: .5rem;
    border-bottom: 1px solid lightgrey
}

md-toolbar.md-default-theme:not(.md-menu-toolbar) md-icon, md-toolbar:not(.md-menu-toolbar) md-icon {
    color: blue
}

.createGroupForm{

    &__members{
        max-height: 10rem;
        overflow: auto;
    }
}
