<div class="container-fluid user-list list">

	<div class="button d-flex between">
		<!-- <div ui-sref="createGame" class="create-game-link customButton bg-green white" ui-sref-opts="{reload: true, notify: true}">Create game</div>
		<div ui-sref="createGroupGame" class="create-game-link customButton bg-green white" ui-sref-opts="{reload: true, notify: true}">Create Group game</div> -->
		<button ng-click="vm.createGame()" class="create-game-link customButton bg-green white">Create New Game</button>
		<button ng-click="vm.getGamesOfUserId()" class="customButton">find games by user</button>
	</div>
	
	<!-- header -->
	<div class="row table-header">
		<div class="col-xs-2">time</div>
		<div class="col-xs-2">game type</div>
		<div class="col-xs-2">host</div>
		<div class="col-xs-2">players</div>
		<div class="col-xs-2">Winner</div>
		<div class="col-xs-2">Edit</div>
	</div>

	<!-- table body -->
	<div class="table-body game-list">
		<div
			class="list-item row"
			ng-repeat="game in vm.games track by game._id">

			<a ui-sref="displayGame({ gameId: game._id, groupId: game.group })" title="display game">
				<div class="col-xs-2">{{ game.time | date:'dd-MM-yy H:mm' }}</div>
				<div class="col-xs-2">{{ game.gametype }}</div>
				<div class="col-xs-2">{{ game.host }}</div>
				<div class="col-xs-2">
					<a ui-sref="gamesByUserId({userId: player.userid})" ng-repeat="player in game.players">
						{{player.username}}, 
					</a>
					
				</div>
				<div class="col-xs-2">{{ game.winner.username }}</div>
			</a>
			<div class="col-xs-2">
				<a class="editButton" ui-sref="editGame({ gameId: game._id })" class="icon" title="edit game">
					Edit 
				</a>
				<a class="registerButton" ui-sref="registerToGame({ gameId: game._id })" class="icon" title="edit game">
					register 
				</a>
				
				<button class="editButton" ng-click="vm.removeGame($index, game._id)">X</button>
			</div>

			
		</div>
	</div>
</div>
