<div class="container-fluid user-list list">

	<div class="d-flex between">
		<div class=" userContentTitle">
			<h3 class="">{{vm.user.userName}}'s Groups</h3>
		</div> 
		<div class="">
			<md-button aria-label="add group" div ui-sref="createGroup">
				<md-icon md-svg-src="assets/img/icons/add.svg"></md-icon>
			</md-button>
		
		</div>
		<!-- <div ui-sref="createGroup" class="create-game-link customButton bg-green white" ui-sref-opts="{reload: true, notify: true}">Create group</div> -->
		<!-- <button ng-click="vm.getGroupsOfUserId()" class="customButton">find groups by user</button> -->

	</div>
	<!-- header -->

	

	<!-- <div class="row table-header">
		<div class="col-xs-2">logo</div>
		<div class="col-xs-2">Name</div>
		<div class="col-xs-3">Manager</div>
		
		<div class="col-xs-3">Members</div>
		
		<div class="col-xs-2">Actions</div>
	</div> -->

	<!-- table body -->
	<div class="game-list">
		<div
			class=" row"
			ng-repeat="group in vm.groups">
			<div class="groupBlock list-item">
				<div class="row">
					<a ui-sref="displayGroup({ groupId: group._id })" title="display groups">
						<div class="col-xs-2">
							<img class="groupBlock--image" src="../../assets/img/platforms/Clash.png" alt="">
						</div>
						<div class="col-xs-7 groupBlock__details">
							<h4>{{group.groupName}}</h4>
							<div class="groupBlock__details--numMembers">
								{{group.members.length}} members
							</div>

						</div>
					</a>
					<div class="col-xs-3 d-flex">
						<md-icon md-svg-src="assets/img/icons/edit.svg" class="groupActionButton" ui-sref="editGroup({ groupId: group._id })"></md-icon>
						<md-icon md-svg-src="assets/img/icons/email.svg" class="groupActionButton blue" ng-click="vm.sendMessageToGroup(group)"></md-icon>
						<md-icon md-svg-src="assets/img/icons/remove.svg" class="groupActionButton red" ng-click="vm.removeGame($index, group._id)"></md-icon>
						
					</div>
				</div>
			</div>

			<!-- <a ui-sref="displayGroup({ groupId: group._id })" title="display groups">
				<div class="col-xs-2"><md-icon md-svg-src="assets/img/icons/profile.svg" class="groupLogo"></md-icon></div>
				<div class="col-xs-2"></div>
				<div class="col-xs-3">{{group.groupManager.userName}}</div>
				<div class="col-xs-3">
					<div ui-sref="displayUser({userId: player.userId})" ng-repeat="player in group.members">
						{{player.userName}}  
					</div> 
					
				</div>
				
			</a>
			<div class="col-xs-2 d-flex">
				<md-icon md-svg-src="assets/img/icons/edit.svg" class="groupActionButton" ui-sref="editGroup({ groupId: group._id })"></md-icon>
				<md-icon md-svg-src="assets/img/icons/remove.svg" class="groupActionButton red" ng-click="vm.removeGame($index, group._id)"></md-icon>
				
			</div> -->

			
		</div>
	</div>
</div>
