<div class="container-fluid user-list list">

	<div class="buttons d-flex between">
		<div class="userContentTitle">
			<h3 class="">{{vm.user.userName}}'s Friends</h3>
			<md-button aria-label="Add..." ng-click="vm.removeAllFriends()"><md-icon md-svg-src="assets/img/icons/remove.svg"></md-icon></md-button>
		</div> 
		<div class="">
			<md-fab-toolbar md-direction="left" class="componentToolBox" ng-if="vm.isUser">
				<md-fab-trigger>
					<md-button aria-label="Add..."><md-icon md-svg-src="assets/img/icons/edit.svg"></md-icon></md-button>
				</md-fab-trigger>
				
				<md-toolbar>
					<md-fab-actions class="d-flex arround full-width">
						<md-button aria-label="add group" div ui-sref="createGroup">
							<md-icon md-svg-src="assets/img/icons/add.svg"></md-icon>
						</md-button>
					
						<md-button aria-label="send message" <div ui-sref="changePassword">
							<md-icon md-svg-src="assets/img/icons/email.svg"></md-icon>
						</md-button>
						
					</md-fab-actions>
				</md-toolbar>
			</md-fab-toolbar>
			
		</div>
		<!-- <div ui-sref="createGroup" class="create-game-link customButton bg-green white" ui-sref-opts="{reload: true, notify: true}">Create group</div> -->
		<!-- <button ng-click="vm.getGroupsOfUserId()" class="customButton">find groups by user</button> -->

	</div>
	<!-- header -->
	<!-- <div class="row table-header">
		<div class="col-xs-2">logo</div>
		<div class="col-xs-2">Name</div>
		<div class="col-xs-5">Shared groups</div>
		
		
		
		
		<div class="col-xs-3">Actions</div>
	</div> -->

	<!-- table body -->
	<div class="table-body game-list">
		<div
			class="list-item row"
			ng-repeat="user in vm.friends">

			<a ui-sref="displayUser({ userId: user._id })" title="display user">
				
				<div class="col-xs-2">
					<img class="list-item--profileImg" src="http://localhost:5000/api/v1/image/{{user.profileImageFileName}}" alt="" ng-if="user.profileImageFileName">
					<img class="list-item--profileImg" src="{{user.profileImageLink}}" alt="" ng-if="!user.profileImageFileName">
					<!-- <md-icon md-svg-src="assets/img/icons/profile.svg" class="groupLogo" ng-if="!user.profileImageFileName"></md-icon> -->
				</div>
				<div class="col-xs-2">{{user.userName}}</div>
				
				
			</a>
			<div class="col-xs-5">
				<div ui-sref="displayGroup({ groupId: group._id })" title="display groups" ng-repeat="group in user.sharedGroups">{{group.groupName}}</div>
			</div>
			<div class="col-xs-3 d-flex">
				<!-- <md-icon md-svg-src="assets/img/icons/edit.svg" class="groupActionButton" ui-sref="editGroup({ groupId: group._id })"></md-icon> -->
				<md-icon md-svg-src="assets/img/icons/chat.svg" class="groupActionButton purple" ng-click="vm.sendMessageToUser(user)" ng-if="vm.isUser"></md-icon>
				<md-icon md-svg-src="assets/img/icons/remove.svg" class="groupActionButton red" ng-click="vm.removeFriend($index, user)" ng-if="vm.isUser"></md-icon>
				<!-- <a class="editButton" ui-sref="editGroup({ groupId: group._id })" class="icon" title="edit group">
					Edit 
				</a> -->
				<!-- <a class="registerButton" ui-sref="registerToGroup({ groupId: group._id })" class="icon" title="register group">
					register 
				</a>
				 -->
				<!-- <button class="editButton" ng-click="vm.removeGame($index, group._id)">X</button> -->
			</div>

			
		</div>
	</div>
</div>
