<div class="accoutRow"
    [routerLink] = "['/accounts',account.platform, account.accountId]">
    <mat-grid-list cols="3" 
        rowHeight="4rem">
        <mat-grid-tile >
            <img class="accountImage" src="../../../assets/img/platforms/{{account.platform}}.png" alt="">
        </mat-grid-tile >
        <mat-grid-tile>
            {{account.userName}}
        </mat-grid-tile >
        <mat-grid-tile>
                {{account.accountId}}
        </mat-grid-tile>
    
    </mat-grid-list>

</div>
