.actionIconWrapper{
    transition: .3s all;
    width: 2rem;
    height: 1rem;
    position: relative;
    font-size: 1.5rem;
    transform: rotate(0)
}

.actionIcon{
    transition: .3s all;
    border: none;
    background-color: transparent;
}

.rotate{
    transform: rotate(45deg)
}