.table-header{
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: .2rem;
}

.modalButton{
    position: relative;
    height: 2rem;
    width: 3rem;
}

.switchButton{
    height: 2rem;
    padding-top: .5rem;
}

.swichButtonText{
    padding-top: .5rem;
}