

<div class="pageHeader"  [@moveInUp]>
    <div class="d-flex between">
        <div class="pageHeaderTitle">
                Accounts
        </div>
        
        <div class="switchButton">
            <app-switch-check-box 
            *ngIf="showSwitchButton"
            [ifCheckedFunction]="showActiveAccounts.bind(this)"
            [ifUnCheckedFunction]="showAllAccounts.bind(this)">
            </app-switch-check-box>

        </div>
        <div class="swichButtonText" *ngIf="showSwitchButton">{{showAccounts}}</div>
        <div class="modalButton">
            <app-sweet-alert 
            [formName]="'createAccountForm'"
            [actionName]="'Create new account'"
            (confirmed)="createAccount($event.values)"></app-sweet-alert>
        </div>
        <div class="pageHeaderActions" >
            <app-icon-to-row
                [bgColor]="'purple'"
                [toolTipText]="'Search accounts'"
                [icon]="'search'"
                [positionClass]="'right0_2'"
                (action)="searchGroups()">
            </app-icon-to-row>
            
        </div>
    </div>
    
    
</div>
    

<div class="pageContent">
    <!-- <div class="row">
        <div class="col-2">
            Platform</div>
        <div class="col-4">
            User name
        </div>
        <div class="col-4">
            ID
        </div>
    </div> -->
    <div [@listAnimation]="accounts.length" *ngIf="loaded">
        <div *ngFor="let account of accounts; let i = index" >
            <div *ngIf="showAccounts == 'Active accounts' && account.active == true">
                <app-account-item [account]="account" >
                </app-account-item>

            </div>
            <div *ngIf="showAccounts == 'All accounts'">
                <app-account-item [account]="account" >
                </app-account-item>

            </div>
        </div>
            
    </div>
  
</div>





        
   

