<div class="auth">

	<!-- login -->
	<div class="row" ng-if="!vm.user">
		<div class="col-xs-12">
			<md-button aria-label="LOGIN" ng-click="vm.toggleForm($event)">
				LOGIN
				
			</md-button>
			<md-button aria-label="REGISTER" ui-sref="createUser" class="white">
				REGISTER
				
			</md-button>
			<form class="loginForm contentHidden"
				ng-submit="vm.login(vm.username, vm.password)"
				name="login"
				id="login"
			>
				<input
					type="text"
					ng-model="vm.userName"
					name="userName"
					id="userName"
					autocomplete="off"
					placeholder="Name"
				>

				<input
					type="password"
					ng-model="vm.password"
					name="password"
					id="password"
					autocomplete="off"
					placeholder="Password"
				>

				<!-- <div>Don't have an account? Please <a ui-sref="createUser "><span class="white strong">Register </span></a></div>
				<br> -->
				<button class="customButton black" type="submit">
					Log in
				</button>

			</form>
		</div>
	</div>

	<!-- logout -->
	
		<button class="logOutButton text-center" ng-click="vm.logout()" ng-if="vm.user">Log out</button>
	
</div>

