<div class="container" *ngIf="loaded">
    <div class="row" >
        <div class="col-5">name: </div>
        <div class="col-7">{{user.name}}</div>
        <div class="col-5">trophies: </div>
        <div class="col-7">{{user.trophies}}</div>
        <div class="col-5">bestTrophies: </div>
        <div class="col-7">{{user.bestTrophies}}</div>
        <div class="col-5">arena: </div>
        <div class="col-7">{{user.arena.name}}</div>
        <div class="col-5">role: </div>
        <div class="col-7">{{user.role}}</div>
        <div class="col-5">clan: </div>
        <div class="col-7">{{user.clan.name}}</div>
        <br>
    </div>
    <br>
    <h4>Stats</h4>
    <div class="row">
        <div class="col-5">wins</div>
        <div class="col-7">{{user.wins}}</div>
        <div class="col-5">threeCrownWins</div>
        <div class="col-7">{{user.threeCrownWins}}</div>
        <div class="col-5">losses</div>
        <div class="col-7">{{user.losses}}</div>
        <div class="col-5">battleCount</div>
        <div class="col-7">{{user.battleCount}}</div>
        <div class="col-5">challengeMaxWins</div>
        <div class="col-7">{{user.challengeMaxWins}}</div>
        
        
    </div>
    <br>

    <h4>currentDeck</h4>
    
    <div class="cardImage" *ngFor="let card of user.currentDeck">
        <img  src="{{card.iconUrls.medium}}" alt="">
    </div>
    <br>
    <h4>currentFavouriteCard</h4>
    <!-- <div class="col-7"> -->
    <div class="cardImage">
        <img  src="{{user.currentFavouriteCard.iconUrls.medium}}" alt="">
    </div>
</div>


