<chat-directive></chat-directive>
<div class="mainCubeMenu">
    <loading-directive ng-if="vm.loading"></loading-directive>
        <!-- <div class="lines" ng-if="!vm.showMenuTab">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <div class="lines">
                
            <div class="lineWidth"></div>
            <div class="lineWidth"></div>
            <div class="lineWidth"></div>
            <div class="lineWidth"></div>
        </div> -->
       
    <div ng-click="vm.changeActiveTab('myProfile')" ng-class="vm.activeTab == 'myProfile'? 'active pulse-pink' : ''" class="cubeMenuItemWrapper">
        <div class="cubeMenuItem  bg-green white holder "
        ng-class="!vm.showMenuTab ? 'cubeMenuItem--cube pulse-green' : 'cubeMenuItem--tab'">
            <!-- <div class="bar left"></div>
            <div class="bar top"></div>
            <div class="bar right"></div>
            <div class="bar bottom"></div> -->
            <div class="">
                <div class="cubeMenuItem--title absCenter">
                    <div class="absCenter">
                        <div class="center">
                            <md-icon md-svg-src="assets/img/icons/profile.svg" ng-class="vm.showMenuTab? 'cubeMenuItem--iconSmall' : 'cubeMenuItem--icon'"></md-icon>
    
                        </div>
                        <div ng-if="!vm.showMenuTab" class="text-center">
                            {{vm.user.userName | uppercase}} PROFILE
    
                        </div>
                    </div>
                    
                </div>

            </div>
    
        </div>
    </div>
    <div ng-click="vm.changeActiveTab('accounts')" ng-class="vm.activeTab == 'accounts'? 'active' : ''" class="cubeMenuItemWrapper" ng-if="vm.userLoaded">
        <div class="cubeMenuItem bg-orange white holder "
            ng-class="!vm.showMenuTab ? 'cubeMenuItem--cube pulse-orange' : 'cubeMenuItem--tab'">
            <!-- <div class="bar-orange left"></div>
            <div class="bar-orange top"></div>
            <div class="bar-orange right"></div>
            <div class="bar-orange bottom"></div> -->
            <div class="cubeMenuItem--title absCenter" >
                <div class="absCenter">
                    <div>
                        <md-icon md-svg-src="assets/img/icons/accounts.svg" ng-class="vm.showMenuTab? 'cubeMenuItem--iconSmall' : 'cubeMenuItem--icon'"></md-icon>
    
                    </div>
                    <div ng-if="!vm.showMenuTab" class="text-center">
                        ACCOUNTS
    
                    </div>
                </div>
                
            </div>

        </div>
    </div>
    <div ng-click="vm.changeActiveTab('groups')" ng-class="vm.activeTab == 'groups'? 'active' : ''" class="cubeMenuItemWrapper" ng-if="vm.userLoaded">
        <div class="cubeMenuItem bg-blue white "
            ng-class="!vm.showMenuTab ? 'cubeMenuItem--cube pulse-blue' : 'cubeMenuItem--tab'">
            <!-- <div class="bar-blue left"></div>
            <div class="bar-blue top"></div>
            <div class="bar-blue right"></div>
            <div class="bar-blue bottom"></div> -->
            <div class="cubeMenuItem--title absCenter" >
                <div class="absCenter">
                    <div>
                        <md-icon md-svg-src="assets/img/icons/group.svg" ng-class="vm.showMenuTab? 'cubeMenuItem--iconSmall' : 'cubeMenuItem--icon'"></md-icon>
    
                    </div>
                    <div ng-if="!vm.showMenuTab" class="div">
                        GROUPS
    
                    </div>

                </div>
            </div>
    
        </div>
    </div>
    <div ng-click="vm.changeActiveTab('friends')" ng-class="vm.activeTab == 'friends'? 'active' : ''" class="cubeMenuItemWrapper" ng-if="vm.userLoaded">
        <div class="cubeMenuItem bg-purple white holder "
            ng-class="!vm.showMenuTab ? 'cubeMenuItem--cube pulse-purple' : 'cubeMenuItem--tab'">
            <!-- <div class="bar-purple left"></div>
            <div class="bar-purple top"></div>
            <div class="bar-purple right"></div>
            <div class="bar-purple bottom"></div> -->
            <div class="cubeMenuItem--title absCenter" >
                <div class="absCenter">
                    <div>
                        <md-icon md-svg-src="assets/img/icons/heart.svg" ng-class="vm.showMenuTab? 'cubeMenuItem--iconSmall' : 'cubeMenuItem--icon'"></md-icon>
    
                    </div>
                    <div ng-if="!vm.showMenuTab" class="div">
                        FRIENDS
    
                    </div>

                </div>
            </div>
    
        </div>
    </div>
    <div ng-click="vm.changeActiveTab('games')" ng-class="vm.activeTab == 'games'? 'active' : ''" class="cubeMenuItemWrapper" ng-if="vm.userLoaded">
        <div class="cubeMenuItem bg-black white holder "
            ng-class="!vm.showMenuTab ? 'cubeMenuItem--cube pulse-black' : 'cubeMenuItem--tab'">
            <!-- <div class="bar-black left"></div>
            <div class="bar-black top"></div>
            <div class="bar-black right"></div>
            <div class="bar-black bottom"></div> -->
            <div class="cubeMenuItem--title absCenter" >
                <div class="absCenter">
                    <div>
                        <md-icon md-svg-src="assets/img/icons/games.svg" ng-class="vm.showMenuTab? 'cubeMenuItem--iconSmall' : 'cubeMenuItem--icon'"></md-icon>
    
                    </div>
                    <div ng-if="!vm.showMenuTab" class="div">
                        GAMES
    
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div ng-click="vm.changeActiveTab('messages')" ng-class="vm.activeTab == 'messages'? 'active' : ''" class="cubeMenuItemWrapper" ng-if="vm.userLoaded">
        <div class="cubeMenuItem bg-pink white holder "
            ng-class="!vm.showMenuTab ? 'cubeMenuItem--cube pulse-pink' : 'cubeMenuItem--tab'">
            <!-- <div class="bar-pink left"></div>
            <div class="bar-pink top"></div>
            <div class="bar-pink right"></div>
            <div class="bar-pink bottom"></div> -->
            <div class="cubeMenuItem--title absCenter" >
                <div class="absCenter">
                        <div >
                            <md-icon md-svg-src="assets/img/icons/chat.svg" ng-class="vm.showMenuTab? 'cubeMenuItem--iconSmall' : 'cubeMenuItem--icon'"></md-icon>
        
                        </div>
                        <div ng-if="!vm.showMenuTab" class="div">
                            MESSAGES
        
                        </div>
                </div>
               
            </div>
    
        </div>
    </div>
    
    
    <div class="userContent" ng-if="vm.showMenuTab">
        
        <div class="userContentWrapper" ng-if="vm.activeTab == 'myProfile'" id="myProfileContent">
            <div class="lineBreak" ng-class="vm.activeTab == 'myProfile'? 'border-green lineOpen' : 'lineClosed' "></div>
            <div class="container">
                <div class="col-xs-4 userContentTitle">
                    <h3 class="">{{vm.user.userName | uppercase}}</h3>
                </div> 
                <div class="col-xs-8">
                    <md-fab-toolbar md-direction="left" class="componentToolBox" ng-if="vm.isUser || vm.currentUser.role == 'admin'">
                        <md-fab-trigger>
                            <md-button aria-label="Add..." class="text-right"><md-icon md-svg-src="assets/img/icons/settings.svg" class="green"></md-icon></md-button>
                        </md-fab-trigger>
                        
                        <md-toolbar>
                            <md-fab-actions class="d-flex between">
                                <md-button aria-label="edit" ui-sref="editUser({ userId: vm.user._id })" class="bg-green">
                                    <md-icon md-svg-src="assets/img/icons/edit.svg" ></md-icon>
                                </md-button>
                            
                                <md-button aria-label="Invite to group" <div ui-sref="changePassword" class="bg-green">
                                    <md-icon md-svg-src="assets/img/icons/password.svg" ></md-icon>
                                </md-button>
                                
                            </md-fab-actions>
                        </md-toolbar>
                    </md-fab-toolbar>
                    
                </div>
                <div class="col-xs-12">
                    <md-fab-toolbar md-direction="left" class="userToolBar" ng-if="!vm.isUser && vm.currentUser">
                        <md-fab-trigger>
                            <md-button aria-label="Add..." class="text-right "><md-icon md-svg-src="assets/img/icons/email.svg" class="green"></md-icon></md-button>
                        </md-fab-trigger>
                        
                        <md-toolbar>
                            <md-fab-actions class="d-flex between">
                                <md-button aria-label="Chat" ng-click="vm.sendMessageToUser()" class="bg-green">
                                    <md-icon md-svg-src="assets/img/icons/chat.svg" class=""></md-icon>
                                </md-button>
                            
                                <md-button aria-label="Invite to group" ng-click="vm.inviteUserToGroup()" class="bg-green">
                                    <md-icon md-svg-src="assets/img/icons/addGroup.svg" class=""></md-icon>
                                </md-button>
                                <md-button aria-label="Invite to friend" ng-click="vm.removeFromFriends(vm.user, vm.currentUser)" ng-if="vm.areFriends" class="bg-green">
                                    <md-icon md-svg-src="assets/img/icons/remove.svg" class=""></md-icon>
                                </md-button>
                                <md-button aria-label="Invite to friend" ng-click="vm.addToFriends(vm.user, vm.currentUser)" ng-if="!vm.areFriends" class="bg-green">
                                    <md-icon md-svg-src="assets/img/icons/baseline-person_add-24px.svg" class=""></md-icon>
                                </md-button>
                                <md-button aria-label="challenge for battle" ng-click="vm.inviteUserToGame()" class="bg-green">
                                    <md-icon md-svg-src="assets/img/icons/shield.svg" class=""></md-icon>
                                </md-button>
                            </md-fab-actions>
                        </md-toolbar>
                    </md-fab-toolbar> 
                </div>
                    
                
                
                
                
                <!-- <div class="row" ng-if="vm.actionType == 'loadUser'">
                        <div class="col-xs-6">
                            <div ui-sref="editUser({ userId: vm.user._id })" title="edit user" class="customButton bg-green white">
                                Edit Profile
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <li>
                                <div ui-sref="changePassword" class="change-password-link customButton bg-green white">Change password</div>
                            </li>
                        </div>
                </div> -->
                <form
                    ng-submit="vm.submitUserForm(vm.user, vm.user._id)"
                    name="vm.userForm"
                    role="form"
                    id="user"
                    novalidate
                >
    
                    <div ng-if="vm.actionType != 'createUser'" class="row">
                        <label for="user-id" class="col-md-5">ID</label>
                        <div class="col-md-5">
                            <input
                                type="text"
                                ng-model="vm.user._id"
                                ng-disabled="'always'"
                                name="user-id"
                                id="user-id"
                                autocomplete="off"
                                placeholder="User ID"
                            >
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-5">
                            
                            <input
                                type="text"
                                ng-model="vm.user.userName"
                                ng-disabled="vm.actionType == 'loadUser'"
                                name="userName"
                                id="userName"
                                autocomplete="off"
                                placeholder="Username"
                                required
                            >
                        </div>
                    </div>
    
                    <div class="row" ng-if="vm.actionType == 'createUser'">
                        <!-- <label for="password" class="col-md-5">Password</label> -->
                        <div class="col-md-5">
                            <input
                                type="password"
                                ng-model="vm.user.password"
                                ng-disabled="vm.actionType != 'createUser'"
                                name="password"
                                id="password"
                                autocomplete="off"
                                placeholder="Password"
                                required
                            >
                        </div>
                    </div>
    
                    <div class="row">
                        <!-- <label for="firstName" class="col-md-5">First name</label> -->
                        <div class="col-md-5">
                            <input
                                type="text"
                                ng-model="vm.user.firstName"
                                ng-disabled="vm.actionType == 'loadUser'"
                                name="firstName"
                                id="firstName"
                                autocomplete="off"
                                placeholder="First name"
                            >
                        </div>
                    </div>
    
                    <div class="row">
                        <!-- <label for="surname" class="col-md-5">Surname</label> -->
                        <div class="col-md-5">
                            <input
                                type="text"
                                ng-model="vm.user.surname"
                                ng-disabled="vm.actionType == 'loadUser'"
                                name="surname"
                                id="surname"
                                autocomplete="off"
                                placeholder="Surname"
                            >
                        </div>
                    </div>
    
                    <div class="row">
                        <!-- <label for="email" class="col-md-5">Email</label> -->
                        <div class="col-md-5">
                            <input
                                type="email"
                                ng-model="vm.user.email"
                                ng-disabled="vm.actionType == 'loadUser'"
                                name="email"
                                id="email"
                                autocomplete="off"
                                placeholder="Email"
                            >
                        </div>
                    </div>
    
                    <div class="row">
                        <label for="role" class="col-md-5">Role</label>
                        <div class="col-md-5">
                            <input
                                type="text"
                                ng-model="vm.user.role"
                                ng-disabled="vm.actionType == 'loadUser'"
                                name="role"
                                id="role"
                                autocomplete="off"
                                placeholder="Role"
                                ng-if="vm.actionType == 'loadUser'"
                            >
                            <select
                                type="text"
                                ng-model="vm.user.role"
                                ng-disabled="vm.actionType == 'loadUser'"
                                name="role"
                                id="role"
                                autocomplete="off"
                                placeholder="Role"
                                ng-if="vm.actionType != 'loadUser'"
                                required
                            >
                                <option value="user">user</option>
                                <option value="admin">admin</option>
                                <option value="group-manager">group-manager</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="row" ng-if="vm.actionType != 'createUser'">
                        <label for="wins" class="col-md-5">wins</label>
                        <div class="col-md-5">
                            <input
                                type="text"
                                ng-model="vm.user.wins"
                                ng-disabled="vm.actionType == 'loadUser'"
                                name="wins"
                                id="wins"
                                autocomplete="off"
                                placeholder="wins"
                                
                            >
                            
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-5 col-md-offset-5">
                            <button class="customButton"
                                type="submit"
                                ng-disabled="vm.userForm.$invalid"
                                ng-if="vm.actionType == 'createUser'"
                            >
                                Create
                            </button>
    
                            <button
                                class="customButton green"
                                type="submit"
                                ng-disabled="vm.userForm.$invalid"
                                ng-if="vm.actionType == 'editUser'"
                            >
                                Save
                            </button>
                        </div>
                    </div>
                </form> 
            </div>
                
        </div>
        <div class="userContentWrapper" ng-if="vm.activeTab == 'accounts'" id="accounts">
            <div class="lineBreak" ng-class="vm.activeTab == 'accounts'? 'border-orange lineOpen' : 'lineClosed' "></div>
            <div class="container">
                <accounts-list></accounts-list>

            </div>
            

        </div>
        <div class="userContentWrapper" ng-if="vm.activeTab == 'groups'" id="groups">
            <div class="lineBreak" ng-class="vm.activeTab == 'groups'? 'border-blue lineOpen' : 'lineClosed' "></div>
            <div class="container">
                
                <group-list></group-list>
            </div>
            
        </div>
        <div class="userContentWrapper" ng-if="vm.activeTab == 'friends'" id="friends">
            <div class="lineBreak" ng-class="vm.activeTab == 'friends'? 'border-purple lineOpen' : 'lineClosed' "></div>
            <div class="container">
                <friends-list></friends-list>

            </div>
        </div>
        
        <div class="userContentWrapper" ng-if="vm.activeTab == 'messages'" id="messages">
            <div class="lineBreak" ng-class="vm.activeTab == 'messages'? 'border-pink lineOpen' : 'lineClosed' "></div>
            
                <!-- <div ng-if="vm.isUser"> -->
                    <messages></messages>

                <!-- </div> -->

            
            
        </div>
        <div class="userContentWrapper" ng-if="vm.activeTab == 'games'" id="games">
            <div class="lineBreak" ng-class="vm.activeTab == 'games'? 'border-black lineOpen' : 'lineClosed' "></div>
            <game-list></game-list>
        </div>
        <!-- <button class="customButton backToMainButton" ng-click="vm.backToMain()" ng-if="vm.showMenuTab">Back to main</button>   -->
    </div>
    <div class="bottomToolBar bg-{{vm.background_color}}" ng-if="vm.showMenuTab && vm.actionType != 'createUser'">
            <md-fab-toolbar md-direction="left" class="userToolBar ">

                    <md-fab-trigger class="fabTrigger ">
                        <md-button aria-label="Add..." class="text-right"><md-icon md-svg-src="assets/img/icons/threeLines.svg" class="white"></md-icon></md-button>
                    </md-fab-trigger>
                    
                    <md-toolbar>
                        <md-fab-actions class="d-flex between bottomToolBar--toolbar">
                            <md-button aria-label="LOG OUT" class="d-flex ">
                                <auth></auth>
                                <!-- <md-icon md-svg-src="assets/img/icons/close.svg"></md-icon> -->
                            </md-button>
                        
                            <md-button aria-label="Back to homepage" ng-click="vm.backToMain()">
                                <md-icon md-svg-src="assets/img/icons/home.svg"></md-icon>
                            </md-button>
                            <md-button aria-label="Store" >
                                <md-icon md-svg-src="assets/img/icons/store.svg"></md-icon>
                            </md-button>
                            <md-button aria-label="challenge for battle">
                                <md-icon md-svg-src="assets/img/icons/shield.svg"></md-icon>
                            </md-button>
                        </md-fab-actions>
                    </md-toolbar>
                </md-fab-toolbar>

    </div>
</div>
    