<div class="container-fluid user form">

	<div class="userTabs d-flex between" >
		<div ng-click="vm.changeActiveTab('info')" ng-class="vm.activeTab == 'info'? 'active' : ''" class="">Info</div>
		<div ng-click="vm.changeActiveTab('accounts')" ng-class="vm.activeTab == 'accounts'? 'active' : ''" class="">Accounts</div>
		<div ng-click="vm.changeActiveTab('groups')" ng-class="vm.activeTab == 'groups'? 'active' : ''" class="">Groups</div>
		<div ng-click="vm.changeActiveTab('friends')" ng-class="vm.activeTab == 'friends'? 'active' : ''" class="">Friends</div>
		<div ng-click="vm.changeActiveTab('history')" ng-class="vm.activeTab == 'history'? 'active' : ''" class="">History</div>
		<div ng-if="vm.currentUser._id == vm.user._id || vm.currentUser.role == 'admin'" ng-click="vm.changeActiveTab('messages')" ng-class="vm.activeTab == 'messages'? 'active' : ''" class="">Messages</div>
	</div>
	<div class="userContent">
		<div ng-class="vm.activeTab == 'info'? 'block' : 'hidden' " id="userInfo">
			<div class="row" ng-if="vm.actionType == 'loadUser'">
				<div class="col-xs-6">
					<div ui-sref="editUser({ userId: vm.user._id })" title="edit user" class="customButton bg-green white">
						Edit Profile
					</div>
				</div>
				<div class="col-xs-6">
					<li>
						<div ui-sref="changePassword" class="change-password-link customButton bg-green white">Change password</div>
					</li>
				</div>
			</div>
			<form
				ng-submit="vm.submitUserForm(vm.user, vm.user._id)"
				name="vm.userForm"
				role="form"
				id="user"
				novalidate
			>

				<div ng-if="vm.actionType != 'createUser'" class="row">
					<label for="user-id" class="col-md-5">ID</label>
					<div class="col-md-5">
						<input
							type="text"
							ng-model="vm.user._id"
							ng-disabled="'always'"
							name="user-id"
							id="user-id"
							autocomplete="off"
							placeholder="User ID"
						>
					</div>
				</div>

				<div class="row">
					<label for="username" class="col-md-5">Username</label>
					<div class="col-md-5">
						<input
							type="text"
							ng-model="vm.user.username"
							ng-disabled="vm.actionType != 'createUser'"
							name="username"
							id="username"
							autocomplete="off"
							placeholder="Username"
							required
						>
					</div>
				</div>

				<div class="row" ng-if="vm.actionType == 'createUser'">
					<label for="password" class="col-md-5">Password</label>
					<div class="col-md-5">
						<input
							type="password"
							ng-model="vm.user.password"
							ng-disabled="vm.actionType != 'createUser'"
							name="password"
							id="password"
							autocomplete="off"
							placeholder="Password"
							required
						>
					</div>
				</div>

				<div class="row">
					<label for="firstName" class="col-md-5">First name</label>
					<div class="col-md-5">
						<input
							type="text"
							ng-model="vm.user.firstName"
							ng-disabled="vm.actionType == 'loadUser'"
							name="firstName"
							id="firstName"
							autocomplete="off"
							placeholder="First name"
						>
					</div>
				</div>

				<div class="row">
					<label for="surname" class="col-md-5">Surname</label>
					<div class="col-md-5">
						<input
							type="text"
							ng-model="vm.user.surname"
							ng-disabled="vm.actionType == 'loadUser'"
							name="surname"
							id="surname"
							autocomplete="off"
							placeholder="Surname"
						>
					</div>
				</div>

				<div class="row">
					<label for="email" class="col-md-5">Email</label>
					<div class="col-md-5">
						<input
							type="email"
							ng-model="vm.user.email"
							ng-disabled="vm.actionType == 'loadUser'"
							name="email"
							id="email"
							autocomplete="off"
							placeholder="Email"
						>
					</div>
				</div>

				<div class="row">
					<label for="role" class="col-md-5">Role</label>
					<div class="col-md-5">
						<input
							type="text"
							ng-model="vm.user.role"
							ng-disabled="vm.actionType == 'loadUser'"
							name="role"
							id="role"
							autocomplete="off"
							placeholder="Role"
							ng-if="vm.actionType == 'loadUser'"
						>
						<select
							type="text"
							ng-model="vm.user.role"
							ng-disabled="vm.actionType == 'loadUser'"
							name="role"
							id="role"
							autocomplete="off"
							placeholder="Role"
							ng-if="vm.actionType != 'loadUser'"
							required
						>
							<option value="user">user</option>
							<option value="admin">admin</option>
							<option value="group-manager">group-manager</option>
						</select>
					</div>
				</div>

				<div class="row">
					<label for="wins" class="col-md-5">wins</label>
					<div class="col-md-5">
						<input
							type="text"
							ng-model="vm.user.wins"
							ng-disabled="vm.actionType == 'loadUser'"
							name="wins"
							id="wins"
							autocomplete="off"
							placeholder="wins"
							
						>
						
					</div>
				</div>

				<div class="row">
					<div class="col-md-5 col-md-offset-5">
						<button
							type="submit"
							ng-disabled="vm.userForm.$invalid"
							ng-if="vm.actionType == 'createUser'"
						>
							Create
						</button>

						<button
							type="submit"
							ng-disabled="vm.userForm.$invalid"
							ng-if="vm.actionType == 'editUser'"
						>
							Save
						</button>
					</div>
				</div>
			</form>
			
		</div>
		<div ng-class="vm.activeTab == 'accounts'? 'block' : 'hidden' " id="groups">
			<h1>My Accounts</h1>
			<button ng-click="vm.toggleAddAccount()" class="customButton bg-green white">Add account</button>
			<form ng-if="vm.showAddAccount == true"
				ng-submit="vm.AddAccountForm(vm.account, vm.user._id)"
				name="vm.addAccountForm"
				role="form"
				id="user"
				novalidate>
			

				<div class="row">
					<label for="platform" class="col-xs-5">Platform</label>
					<div class="col-xs-7">
						
						<select name="platform" id="platform" ng-model="vm.account.platform">
							<option value="">---Please select---</option> <!-- not selected / blank option -->
							<option ng-repeat="platform in vm.platforms" value="{{platform.name}}">{{platform.name}}</option> <!-- interpolation -->
							
						</select>
						
					</div>
					<label for="userName" class="col-xs-5">UserName</label>
					<div class="col-xs-7">
						<input
							type="text"
							ng-model="vm.account.userName"
							
							name="userName"
							id="userName"
							autocomplete="off"
							placeholder="UserName"
						>
					</div>
					<label for="accountId" class="col-xs-5">Account Id</label>
					<div class="col-xs-7">
						<input
							type="text"
							ng-model="vm.account.accountId"
							
							name="accountId"
							id="accountId"
							autocomplete="off"
							placeholder="ID"
						>
					</div>
				</div>

				
				<button class="customButton"
					type="submit"
					ng-disabled="vm.addAccountForm.$invalid"
					
				>
					Save
				</button>
					
			</form>
			<div class="row" ng-repeat="account in vm.accounts">
				<div class="col-xs-4">Platform</div>
				<div class="col-xs-4">UserName</div>
				<div class="col-xs-4">AccountId</div>
				
			</div>
			<div class="row" ng-repeat="account in vm.accounts">
				<div class="col-xs-4">{{account.platform}}</div>
				<div class="col-xs-4">{{account.userName}}</div>
				<div class="col-xs-4">{{account.accountId}}</div>
				
			</div>

		</div>
		<div ng-class="vm.activeTab == 'groups'? 'block' : 'hidden' " id="groups">
			<h1>My Groups</h1>
			<group-list></group-list>
		</div>
		<div ng-class="vm.activeTab == 'friends'? 'block' : 'hidden' " id="friends">
			<h1>My Friends</h1>
		</div>
		<div ng-class="vm.activeTab == 'history'? 'block' : 'hidden' " id="history">
			<h1>My History</h1>
			<game-list></game-list>
		</div>
		<div ng-class="vm.activeTab == 'messages'? 'block' : 'hidden' " id="messages">
			<h1>{{mnCtrl.user.role}}</h1>
			{{vm.user.userName}}
			<h1>My Messages</h1>
			<messages></messages>
			
		</div>
	</div>
	<!-- <md-fab-toolbar md-direction="left">
		<md-fab-trigger>
			<md-button aria-label="Add..."><md-icon md-svg-src="app/img/icons/favorite.svg"></md-icon></md-button>
		</md-fab-trigger>
		
		<md-toolbar>
			<md-fab-actions>
			<md-button aria-label="Add User">
				<md-icon md-svg-src="app/img/icons/favorite.svg"></md-icon>
			</md-button>
		
			<md-button aria-label="Add Group">
				<md-icon md-svg-src="app/img/icons/favorite.svg"></md-icon>
			</md-button>
			</md-fab-actions>
		</md-toolbar>
	</md-fab-toolbar> -->
	

	
</div>
