
<div class="container-fluid user-list list">
	<div class="d-flex between">
		<h3>My Accounts</h3>
		<md-button aria-label="Add..." class=""><md-icon md-svg-src="assets/img/icons/add.svg" ng-click="vm.createNewAccount()"></md-icon></md-button>

	</div>
	
	<div class="row table-header" >
		<div class="col-xs-4">Platform</div>
		<div class="col-xs-4">UserName</div>
		<div class="col-xs-4">AccountId</div>
		
	</div>
	<div class="row accountRow" ng-repeat="account in vm.accounts" >
		<account-directive account="account"></account-directive>
		<!--<a ui-sref="clashUser({ usertag: account.accountId })" title="display clash user" ng-if="account.platform == 'Clash'">
			<div class="col-xs-4">
				<img class="accountImage" src="../../assets/img/platforms/{{account.platform}}.png" alt=""></div>
			<div class="col-xs-4">{{account.userName}}</div>
			<div class="col-xs-4">{{account.accountId}}</div>
		</a>
		<div class="col-xs-4">
			<img class="accountImage" src="../../assets/img/platforms/{{account.platform}}.png" alt=""></div>
		<div class="col-xs-4">{{account.userName}}</div>
		<div class="col-xs-4">{{account.accountId}}</div>-->
		
	</div>
</div>