<div class="friendRow">
    <mat-grid-list cols="12" 
        rowHeight="3rem"
        *ngIf="friend">
        <mat-grid-tile colspan="2"
            [routerLink]= "['/', 'users', friend._id]">
            <img class="list-item--profileImg" 
                src="http://localhost:5000/api/v1/image/{{friend.profileImageFileName}}" 
                alt="" 
                *ngIf="friend.profileImageFileName">
            <img class="list-item--profileImg" 
                src="{{friend.profileImageLink}}" 
                alt="" 
                *ngIf="!friend.profileImageFileName">
        </mat-grid-tile >

        <mat-grid-tile colspan="2" [routerLink]= "['/', 'users', friend._id]">
            {{friend.userName}} 
        </mat-grid-tile >

        <mat-grid-tile colspan="5">
            <div  *ngFor=" let group of friend.sharedGroups">{{group.groupName}}</div>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
            <div class="rowActions">
                
                <fa class="red" name="trash" animation=""
                    (click)="removeFriend(index, user)">
                </fa>
                
            </div>
        </mat-grid-tile>
        
    
    </mat-grid-list>
    <app-send-message
        [bgColor]="'purple'">
    </app-send-message>
</div>

